<?xml version="1.0"?>
<!-- SSL Configuration -->
<!--
	WEB PAGE SECURITY
		This section will redirect any matching pages to the HTTPS protocol for SSL security
		and, if needed, redirect any non-matching pages (or pages matching an entry marked secure="false") 
		to the HTTP protocol to remove the security and encryption.

		Set SSL mode="On", "RemoteOnly" or "LocalOnly" to enable web page security; 
		"Off" to disable (default = "On").
		
		"On": Security is enabled and all requests are monitored.
		"RemoteOnly": Only requests from remote clients are monitored.
		"LocalOnly": Only requests from the local server are monitored.
		"Off": No requests are monitored.
		
		Set encryptedUri to a specific URI to indicate where to redirect to when the module decides that 
		security is needed. Likewise, set unencryptedUri for times the module decides that security is
		not needed.
		
		Set maintainPath="False" to prevent the module from maintaining the current path
		when redirecting to the specified host paths (default = "True").
		
		Set SSL warningBypassMode="AlwaysBypass" to always bypass security warnings;
		"NeverBypass" to never bypass the warnings (default = "BypassWithQueryParam").
		
		"AlwaysBypass": Always bypass security warnings when switching to an unencrypted page.
		"BypassWithQueryParam": Only bypass security warnings when switching to an unencrypted page if the 
								proper query parameter is present.
		"NeverBypass": Never bypass security warnings when switching to an unencrypted page.
		
		Set bypassQueryParamName to the name of a query parameter that will indicate to the module to bypass
		any security warning if warningBypassMode="BypassWithQueryParam" (default = "BypassSecurityWarning").
		
		- Add <directory> tags for each directory to secure.
		- Add <file> tags for each file to secure.
		- Both tags expect a "path" attribute to the directory or file that should be evaluated.
		  Specify "/" as the directory path in order to denote the application root (not the site root).
		- Both tags may include a "secure" attribute indicating whether or not to secure the 
		  directory or file (default = "True"). Possible values are "True" to force security, 
		  "False" to force insecurity and "Ignore" to ignore the file or directory and do nothing.
		- <directory> tags may include a "recurse" attribute. If "True", all files in any sub-directories
		  are included (default = "False").

DEFAULT ECF EXAMPLE: 
<SSL mode="Off">
  <file path="/default.aspx"></file>
  <file path="/profile/login.aspx"></file>
	<directory path="/checkout"></directory>
</SSL> -->

<!-- 
  (Heath 03/01/18) -
       The following "SSL" setting is used to configure which pages in ECF should be https. However, we 
       (i.e. Parthenon & Heath) have determined that in order for everything to work correctly using SSL, 
       the entire site must be configured for SSL mode, instead of only certain specific pages and resources.  
       This requirement is directly related to some of the customizations built on top of ECF by Oak Tree. 
       Configuration of the entire site to SSL/https is accompished by using directory path="/" and recurse="True". 
       Below, I left the commented out file paths of the specific pages & resources I originally wanted secure 
       (e.g. /default.aspx, /WebResource.axd), in case they are needed for future reference.
-->
<SSL mode="On">
  <directory path="/" recurse="True"></directory>
<!--  
  <file path="/default.aspx"></file>
  <file path="/login.aspx"></file>
  <file path="/profile/register.aspx"></file>
  <file path="/WebResource.axd"></file>
  <file path="/ScriptResource.axd"></file>  
-->
</SSL>
