<?xml version="1.0"?>
<profileDownload>
	<add name="iis" type="Mediachase.Ibn.Blob.BlobProfileDownload.IISAccesProfile, Mediachase.Ibn.Blob" virtualPath="/FileLibrary"/>
	<add name="open" type="Mediachase.Ibn.Blob.BlobProfileDownload.GetAccessProfile, Mediachase.Ibn.Blob" virtualPath="/FileLibrary"/>
	<add name="forceDownload" type="Mediachase.Ibn.Blob.BlobProfileDownload.GetOpenAccessProfile, Mediachase.Ibn.Blob"/>
	<add name="webDav" type="Mediachase.Ibn.Blob.BlobProfileDownload.WebDavAccessProfile, Mediachase.Ibn.Blob"/>
</profileDownload>
