BODY {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN: 0px; BORDER-LEFT: 0px; CURSOR: default; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #acc0e9;
}


TD.header {
	FONT-SIZE: 11px;
}
TABLE {
	CURSOR: default;
	font-size: 12px;
}

input.button {
	BORDER-RIGHT: #7b9ebd 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #7b9ebd 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 11px; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#cecfde); BORDER-LEFT: #7b9ebd 1px solid; CURSOR: hand; BORDER-BOTTOM: #7b9ebd 1px solid;
}

TABLE.stdTable {
	TABLE-LAYOUT: fixed; WIDTH: 100%; HEIGHT: 100%;
}

/*DIALOG*/

BODY {
	OVERFLOW: hidden; BACKGROUND-COLOR: #eef0f6; 
}

LABEL {
	CURSOR: hand
}
input.button {
	WIDTH: 95px
}

BODY {
	FONT-FAMILY: Tahoma, Verdana, Arial
}
INPUT {
	FONT-FAMILY: Tahoma, Verdana, Arial
}
SELECT {
	FONT-FAMILY: Tahoma, Verdana, Arial
}
TEXTAREA {
	FONT-FAMILY: Tahoma, Verdana, Arial
}

DIV.main {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: top; PADDING-TOP: 5px; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 100%;
}
TD.main {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; VERTICAL-ALIGN: top; PADDING-TOP: 10px; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 100%; BACKGROUND-COLOR: #eef0f6
}

DIV.main2 {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: top; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 100%;
}
TD.main2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 0px; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 100%; BACKGROUND-COLOR: #eef0f6
}


TD.buttons {
	PADDING-RIGHT: 10px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; HEIGHT: 32px; BACKGROUND-COLOR: #eef0f6; TEXT-ALIGN: right;
}
TD.header {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: top; COLOR: #ffffff; 

PADDING-TOP: 5px; BORDER-BOTTOM: #485673 1px solid; HEIGHT: 51px; BACKGROUND-COLOR: #63769b
}

TD.ListItem {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; CURSOR: hand; PADDING-TOP: 3px
}
DIV.header {
	PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 13px
}
DIV.ItemList {
	BORDER-RIGHT: #949e9c 1px solid; BORDER-TOP: #949e9c 1px solid; OVERFLOW-Y: scroll; BORDER-LEFT: #949e9c 1px solid; BORDER-BOTTOM: #949e9c 1px solid; HEIGHT: 100%; BACKGROUND-COLOR: #ffffff;
}

DIV.ScrollableList {
	BORDER-RIGHT: #949e9c 1px solid; BORDER-TOP: #949e9c 1px solid; OVERFLOW: scroll; BORDER-LEFT: #949e9c 1px solid; WIDTH: 100%; BORDER-BOTTOM: #949e9c 1px solid; HEIGHT: 100%; BACKGROUND-COLOR: #ffffff;
}

DIV.ScrollableArea {
	OVERFLOW: auto; WIDTH: 100%; HEIGHT: 100%
}

DIV.headerdesc {
	PADDING-LEFT: 5px; PADDING-TOP: 4px
}

DIV.desc {
	PADDING-LEFT: 6px; PADDING-TOP: 4px
}


TD.label {
	 vertical-align: top;
}

.FormSectionCell
{
	padding: 4px; 
	color: black; 
	font-weight: bold;
	border-bottom: 1px solid black; 
}