<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="EcfSqlConnection" connectionString="Data Source={DATABASE_SERVER};Initial Catalog={Database_name};User ID={USER_Name};Password={USER_PASSWORD};" />
  <add name="MembershipSqlConnection" connectionString="Data Source={DATABASE_SERVER};Initial Catalog={Database_name};User ID={USER_Name};Password={USER_PASSWORD};" />
  <add name="MetaDataConnection" connectionString="Data Source={DATABASE_SERVER};Initial Catalog={Database_name};User ID={USER_Name};Password={USER_PASSWORD};" />
</connectionStrings>