<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<sectionGroup name="common">
			<section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
		</sectionGroup>
		<sectionGroup name="FrameworkProviders">
			<section name="dataService" type="Mediachase.Data.Provider.DataProviderSection, Mediachase.DataProvider"/>
			<section name="imageService" type="Mediachase.Commerce.Engine.Images.ImageServiceSection, Mediachase.Commerce"/>
			<section name="templateService" type="Mediachase.Commerce.Engine.Template.TemplateProviderSection, Mediachase.Commerce"/>
		</sectionGroup>
		<sectionGroup name="CommerceFramework">
			<section name="Workflow" type="Mediachase.Commerce.WorkflowConfiguration,Mediachase.Commerce"/>
			<section name="Application" type="Mediachase.Commerce.Core.CoreConfiguration,Mediachase.Commerce"/>
			<section name="Catalog" type="Mediachase.Commerce.Catalog.CatalogConfiguration,Mediachase.Commerce"/>
			<section name="Marketing" type="Mediachase.Commerce.Marketing.MarketingConfiguration,Mediachase.Commerce"/>
			<section name="Orders" type="Mediachase.Commerce.Orders.OrderConfiguration,Mediachase.Commerce"/>
			<section name="Profile" type="Mediachase.Commerce.Profile.ProfileConfiguration,Mediachase.Commerce"/>
			<section name="ContentManagement" type="Mediachase.Cms.CmsConfiguration,Mediachase.Cms"/>
			<section name="AssetManagement" type="Mediachase.Ibn.Library.AssetConfiguration, Mediachase.AssetLibrary"/>
			<section name="Mediachase.Search" type="Mediachase.Search.SearchConfiguration,Mediachase.Search"/>
		</sectionGroup>
		<sectionGroup name="mediachase.license">
			<section name="licenseProvider" type="Mediachase.Licensing.LicenseStorageSection, Mediachase.Licensing"/>
		</sectionGroup>

	</configSections>

	<!-- Licensing -->
	<mediachase.license>
		<licenseProvider defaultProvider="sqlProvider" allowUpload="True" licenseServerUri="http://licensing.mediachase.com/2.0/License.aspx">
			<providers>
				<add name="fileProvider" type="Mediachase.Licensing.FileStorageProvider, Mediachase.Licensing" storagePath="c:\Projects\ECF5\main\src\AdminLayer\ConsoleManager\bin"/>
				<add name="sqlProvider" type="Mediachase.Licensing.SqlStorageProvider, Mediachase.Licensing" connectionStringName="EcfSqlConnection" tableName="" createTable="True"/>
			</providers>
		</licenseProvider>
	</mediachase.license>
	
	<!-- Commons Logging -->
	<common>
		<logging configSource="log.config"></logging>
	</common>

	<!-- Framework configuration -->
	<CommerceFramework>
		<!-- Search Configuration -->
		<Mediachase.Search configSource="mediachase.Search.config" />
		<!-- Asset Configuration -->
		<AssetManagement>
			<Roles>
				<add name="AdminRole" value="Asset Admins"/>
				<add name="ManagerRole" value="Asset Managers"/>
				<add name="SchemaManagerRole" value="Asset Schema Managers"/>
				<add name="ViewerRole" value="Asset Viewers"/>
			</Roles>
		</AssetManagement>
		<!-- Cms Configuration -->
		<ContentManagement>
			<Connection connectionStringName="EcfSqlConnection"/>
			<Cache enabled="false" pageDocumentTimeout="10" menuTimeout="60" workflowTimeout="60" templateTimeout="60" sitesCollectionTimeout="5"/>
			<Roles>
				<add name="AdminRole" value="Cms Admins"/>
				<add name="ManagerRole" value="Cms Managers"/>
				<add name="EditorRole" value="Cms Editors"/>
				<add name="ViewerRole" value="Cms Viewers"/>
			</Roles>
		</ContentManagement>
		<!-- Workflow Configuration -->
		<Workflow>
			<Workflows>
				<add name="CartValidate" displayname="Validate Cart" description="Checks inventory, populates extra fields" type="Mediachase.Commerce.Workflow.CartValidateWorkflow, Mediachase.Commerce.Workflow" xomlpath="" rulespath=""/>
				<add name="CartPrepare" displayname="Cart Prepare" description="Creates shipments" type="Mediachase.Commerce.Workflow.CartPrepareWorkflow, Mediachase.Commerce.Workflow" xomlpath="" rulespath=""/>
				<add name="CartCheckout" displayname="Cart Checkout" description="Processes credit card information" type="Mediachase.Commerce.Workflow.CartCheckoutWorkflow, Mediachase.Commerce.Workflow" xomlpath="" rulespath=""/>

				<!-- Administration Workflows / mapped to toolbar actions -->
				<add name="cmdPurchaseOrderCalculateTotals" displayname="Calculate Totals" description="Calculates totals" type="Mediachase.Commerce.Workflow.Admin.POCalculateTotalsWorkflow, Mediachase.Commerce.Workflow" xomlpath="" rulespath=""/>
				<add name="cmdPurchaseOrderProcessPayment" displayname="Process Payment" description="Process Payment" type="Mediachase.Commerce.Workflow.Admin.POProcessPaymentWorkflow, Mediachase.Commerce.Workflow" xomlpath="" rulespath=""/>

			</Workflows>
		</Workflow>
		<!-- Core Configuration -->
		<Application defaultApplicationName="eCommerceFramework">
			<Connection connectionStringName="EcfSqlConnection"/>
			<Cache enabled="false" appTimeout="10"/>
			<Roles>
				<add name="AdminRole" value="Admins"/>
				<add name="ManagerUserRole" value="Management Users"/>
				<add name="EveryoneRole" value="Everyone"/>
				<add name="RegisteredRole" value="Registered"/>
			</Roles>
		</Application>
		<!-- Catalog Configuration -->
		<Catalog autoConfigure="false">
			<Connection connectionStringName="EcfSqlConnection"/>
			<Cache enabled="false" collectionTimeout="0" entryTimeout="0" nodeTimeout="0" schemaTimeout="0"/>
			<Encoding imageQualityPercentage="80" defaultFormat="jpeg"/>
			<Roles>
				<add name="CatalogAdminRole" value="Catalog Admins"/>
				<add name="CatalogManagerRole" value="Catalog Managers"/>
				<add name="CatalogSchemaManagerRole" value="Catalog Schema Managers"/>
				<add name="CatalogViewerRole" value="Catalog Viewers"/>
			</Roles>
			<Events>
				<add type="Mediachase.Commerce.Catalog.Loggers.CatalogLogger, Mediachase.Commerce" />
			</Events>
		</Catalog>
		<!-- Marketing Configuration -->
		<Marketing>
			<Connection connectionStringName="EcfSqlConnection"/>
			<Cache enabled="false" promotionTimeout="10" campaignTimeout="10" policyTimeout="15" segmentTimeout="10" expressionTimeout="10"/>
			<MappedTypes>
				<ExpressionValidatorType name="Mediachase.Commerce.Marketing.Validators.SimpleExprValidator,Mediachase.Commerce.Marketing.Validators"/>
			</MappedTypes>
			<Roles>
				<add name="AdminRole" value="Marketing Admins"/>
				<add name="ManagerRole" value="Marketing Managers"/>
				<add name="SchemaManagerRole" value="Marketing Schema Managers"/>
				<add name="ViewerRole" value="Marketing Viewers"/>
			</Roles>
		</Marketing>
		<!-- Profile Configuration -->
		<Profile autoConfigure="true" enablePermissions="true">
			<MetaClasses>
				<CustomerAddressClass name="CustomerAddressEx"/>
				<OrganizationClass name="Organization"/>
				<AccountClass name="Account"/>
			</MetaClasses>
			<MappedTypes>
				<CustomerAddress name="Mediachase.Commerce.Profile.CustomerAddress,Mediachase.Commerce"/>
				<Organization name="Mediachase.Commerce.Profile.Organization,Mediachase.Commerce"/>
				<Account name="Mediachase.Commerce.Profile.Account,Mediachase.Commerce"/>
			</MappedTypes>
			<Connection connectionStringName="EcfSqlConnection"/>
			<Roles>
				<add name="AdminRole" value="Profile Admins"/>
				<add name="ManagerRole" value="Profile Managers"/>
				<add name="SchemaManagerRole" value="Profile Schema Managers"/>
				<add name="ViewerRole" value="Profile Viewers"/>
			</Roles>
		</Profile>
		<!-- Orders Configuration -->
		<Orders newOrderStatus="NewOrder" autoConfigure="true">
			<MappedTypes>
				<ShoppingCartType name="Mediachase.Commerce.Orders.Cart,Mediachase.Commerce"/>
				<PurchaseOrderType name="Mediachase.Commerce.Orders.PurchaseOrder,Mediachase.Commerce"/>
				<OrderFormType name="Mediachase.Commerce.Orders.OrderForm,Mediachase.Commerce"/>
				<PaymentPlanType name="Mediachase.Commerce.Orders.PaymentPlan,Mediachase.Commerce"/>
				<LineItemType name="Mediachase.Commerce.Orders.LineItem,Mediachase.Commerce"/>
				<OrderGroupAddressType name="Mediachase.Commerce.Orders.OrderAddress,Mediachase.Commerce"/>
				<ShipmentType name="Mediachase.Commerce.Orders.Shipment,Mediachase.Commerce"/>
			</MappedTypes>
			<MetaClasses>
				<PurchaseOrderClass name="PurchaseOrder"/>
				<PaymentPlanClass name="PaymentPlan"/>
				<ShoppingCartClass name="ShoppingCart"/>
				<OrderFormClass name="OrderFormEx"/>
				<LineItemClass name="LineItemEx"/>
				<ShipmentClass name="ShipmentEx"/>
				<OrderAddressClass name="OrderGroupAddressEx"/>
			</MetaClasses>
			<Connections confConnectionStringName="EcfSqlConnection" transConnectionStringName="EcfSqlConnection"/>
			<Cache enabled="false" shippingCollectionTimeout="10" paymentCollectionTimeout="10" statusCollectionTimeout="10" countryCollectionTimeout="10"/>
			<Roles>
				<add name="AdminRole" value="Order Admins"/>
				<add name="ManagerRole" value="Order Managers"/>
				<add name="SchemaManagerRole" value="Order Schema Managers"/>
				<add name="ViewerRole" value="Order Viewers"/>
			</Roles>
		</Orders>
	</CommerceFramework>
	<!-- 
		Framework Data provides.
		Currenty supports following providers:
		 - imageService: processes the images and creates a cached version, default implementation is caching images in the file system
		 - dataService: provides provider based access to the database, default implementation uses SqlDataProvider
		 - templateService: provides template engine to generate emails
	-->
	<FrameworkProviders>
		<dataService defaultProvider="SqlDataProvider">
			<providers>
				<add name="SqlDataProvider" type="Mediachase.Data.Provider.SqlDataProvider, Mediachase.SqlDataProvider" connectionStringName="SqlConnection" applicationName="eCommerceFramework"/>
			</providers>
		</dataService>
		<imageService defaultProvider="FileImageProvider">
			<providers>
				<add name="FileImageProvider" type="Mediachase.Commerce.Engine.Images.Providers.FileImageProvider, Mediachase.Commerce" cacheImages="true" storagePath="images/t" duration="30" applicationName="eCommerceFramework"/>
			</providers>
		</imageService>
		<templateService defaultProvider="XslTemplateProvider">
			<providers>
				<add name="XslTemplateProvider" type="Mediachase.Commerce.Engine.Template.Providers.XslTemplateProvider, Mediachase.Commerce" applicationName="eCommerceFramework" templateSource="c:\templates\{0}\{1}.xsl"/>
			</providers>
		</templateService>
	</FrameworkProviders>
	<connectionStrings configSource="connectionStrings.config"/>

	<!-- 
    We use quartz.properties for this server, you can always use configuration section if you want to 
    Configuration section has precedence here.  
  -->
  <!--
  <quartz >
  </quartz>
  -->
</configuration>