<?xml version="1.0"?>
<Configuration version="5.0">
	<Settings>
		<Setting name="{ProfileStrings:HelpPrefix}" value="mgmtcust"/>
	</Settings>
	<Acl>
		<Group id="acc" text="{SharedStrings:Accounts}">
			<Group id="mng" text="{SharedStrings:Manage}">
				<Permission id="view" text="{SharedStrings:View}"></Permission>
				<Permission id="create" text="{SharedStrings:Create}"></Permission>
				<Permission id="edit" text="{SharedStrings:Edit}"></Permission>
				<Permission id="delete" text="{SharedStrings:Delete}"></Permission>
				<Permission id="roles" text="{SharedStrings:Roles}"></Permission>
			</Group>
		</Group>
		<Group id="org" text="{SharedStrings:Organizations}">
			<Group id="mng" text="{SharedStrings:Manage}">
				<Permission id="view" text="{SharedStrings:View}"></Permission>
				<Permission id="create" text="{SharedStrings:Create}"></Permission>
				<Permission id="edit" text="{SharedStrings:Edit}"></Permission>
				<Permission id="delete" text="{SharedStrings:Delete}"></Permission>
			</Group>
		</Group>
		<Group id="roles" text="{SharedStrings:Roles}">
			<Group id="mng" text="{SharedStrings:Manage}">
				<Permission id="view" text="{SharedStrings:View}"></Permission>
				<Permission id="create" text="{SharedStrings:Create}"></Permission>
				<Permission id="edit" text="{SharedStrings:Edit}"></Permission>
				<Permission id="delete" text="{SharedStrings:Delete}"></Permission>
			</Group>
		</Group>
		<Group id="admin" text="{SharedStrings:Administration}">
			<Group id="meta" text="{SharedStrings:Meta_Data}">
				<Group id="cls" text="{SharedStrings:Classes}">
					<Group id="mng" text="{SharedStrings:Manage}">
						<Permission id="view" text="{SharedStrings:View}"></Permission>
						<Permission id="create" text="{SharedStrings:Create}"></Permission>
						<Permission id="edit" text="{SharedStrings:Edit}"></Permission>
						<Permission id="delete" text="{SharedStrings:Delete}"></Permission>
					</Group>
				</Group>
				<Group id="fld" text="{SharedStrings:Fields}">
					<Group id="mng" text="{SharedStrings:Manage}">
						<Permission id="view" text="{SharedStrings:View}"></Permission>
						<Permission id="create" text="{SharedStrings:Create}"></Permission>
						<Permission id="edit" text="{SharedStrings:Edit}"></Permission>
						<Permission id="delete" text="{SharedStrings:Delete}"></Permission>
					</Group>
				</Group>
			</Group>
		</Group>
	</Acl>
	<Views>
		<View id="Account-SearchList" name="{ProfileStrings:Account_Search_List}" controlUrl="Profile/AccountEntrySearch.ascx" help="createeditdelete" permissions="profile:acc:mng:view">
			<Columns>
				<Column id="Name" Width="150" AllowSorting="true" DataField="Name" HeadingText="{ProfileStrings:Name}" ColumnType="HyperLink" DataNavigateUrlFields="ProviderKey" DataNavigateUrlFormatString="javascript:CSManagementClient.ChangeView('Profile', 'Account-View','userid={0}');" DataTextFields="Name" DataTextFormatString="{0}" permissions="profile:acc:mng:edit"></Column>
				<Column id="CustomerGroup" Width="100" AllowSorting="true" DataField="CustomerGroup" HeadingText="{ProfileStrings:Customer_Group}" ColumnType="Text" permissions="profile:acc:mng:edit"></Column>
				<Column id="State" Width="100" AllowSorting="true" DataField="State" HeadingText="{ProfileStrings:State}" ColumnType="Text" permissions="profile:acc:mng:edit"></Column>
				<Column id="Email" Width="300" AllowSorting="true" DataField="Email" HeadingText="{ProfileStrings:Email}" ColumnType="Text" permissions="profile:acc:mng:edit"></Column>
				<Column id="Created" Width="200" AllowSorting="true" DataField="Created" HeadingText="{ProfileStrings:Created}" ColumnType="Text" permissions="profile:acc:mng:edit"></Column>
			</Columns>
		</View>
		<View id="Account-List" name="{ProfileStrings:Account_List}" controlUrl="Profile/AccountList.ascx" help="accountlist" permissions="profile:acc:mng:view">
			<Columns>
				<Column Width="30" ColumnType="CheckBox" />
				<Column id="Name" Width="200" AllowSorting="true" DataField="UserName" HeadingText="{ProfileStrings:Name}" ColumnType="HyperLink" DataNavigateUrlFields="ProviderUserKey" DataNavigateUrlFormatString="javascript:CSManagementClient.ChangeView('Profile', 'Account-View','userid={0}');" DataTextFields="UserName" DataTextFormatString="{0}" permissions="profile:acc:mng:edit"></Column>
				<Column Width="150" AllowSorting="false" DataField="IsApproved" HeadingText="{ProfileStrings:Approved}"></Column>
				<Column Width="150" AllowSorting="false" DataField="IsLockedOut" HeadingText="{ProfileStrings:Locked_Out}"></Column>
				<Column Width="150" ColumnType="DateTime" AllowSorting="false" DataField="LastActivityDate" HeadingText="{ProfileStrings:Last_Activity}"></Column>
				<Column Width="150" ColumnType="DateTime" AllowSorting="false" DataField="CreationDate" HeadingText="{ProfileStrings:Created}"></Column>
			</Columns>
		</View>

		<View id="Organization-List" name="{ProfileStrings:Organization_List}" controlUrl="Profile/OrganizationList.ascx" help="manageorganizations" permissions="profile:org:mng:view">
			<Columns>
				<Column Width="30" ColumnType="CheckBox" />
				<Column Visible="false" Width="100" DataField="PrincipalId" HeadingText="{ProfileStrings:Account_Id}"></Column>
				<Column id="Name" Width="300" AllowSorting="true" DataField="Name" HeadingText="{ProfileStrings:Name}" ColumnType="HyperLink" DataNavigateUrlFields="PrincipalId" DataNavigateUrlFormatString="javascript:CSManagementClient.ChangeView('Profile', 'Organization-View','id={0}');" DataTextFields="Name" DataTextFormatString="{0}"  permissions="profile:org:mng:edit"></Column>
				<Column Width="200" ColumnType="DateTime" AllowSorting="false" DataField="Modified" HeadingText="{ProfileStrings:Last_Modified}"></Column>
				<Column Width="200" ColumnType="DateTime" AllowSorting="false" DataField="Created" HeadingText="{ProfileStrings:Created}"></Column>
			</Columns>
		</View>

		<View id="Account-View" name="{ProfileStrings:Account_View}" controlUrl="profile/PrincipalEdit.ascx" help="accountview" permissions="profile:acc:mng:edit">
			<Tabs>
				<Tab Name="{ProfileStrings:Overview}" ControlUrl="profile/tabs/PrincipalOverviewEditTab.ascx" permissions="profile:acc:mng:edit"></Tab>
			</Tabs>
		</View>
		<View id="Organization-View" name="{ProfileStrings:Organization_View}" controlUrl="profile/PrincipalEdit.ascx" help="organizationview" permissions="profile:org:mng:edit">
			<Tabs>
				<Tab Name="{ProfileStrings:Overview}" ControlUrl="profile/tabs/OrgOverviewEditTab.ascx" permissions="profile:org:mng:edit"></Tab>
			</Tabs>
		</View>

		<View id="Roles-List" name="{ProfileStrings:Roles_List}" controlUrl="Profile/RolesList.ascx" help="managing_roles" permissions="profile:roles:mng:view">
			<!-- Columns map columns to grid column which will be automatically created -->
			<Columns>
				<Column ColumnType="CheckBox" />
				<Column Width="40" HeadingText="" ColumnType="Action" DataField="Name" permissions="profile:roles:mng:edit">
					<Item ImageUrl="~/App_Themes/Default/Images/edit.gif" CommandName="cmdProfileGridRoleEdit" CommandParameters="Name" ToolTip="Edit" permissions="profile:roles:mng:edit"></Item>
					<Item ImageUrl="~/App_Themes/Main/Images/toolbar/delete.gif" CommandName="cmdProfileGridRoleDelete" CommandParameters="Name" ToolTip="Delete" permissions="profile:roles:mng:delete"></Item>
				</Column>
				<Column Width="300" AllowSorting="true" DataField="Name" HeadingText="{ProfileStrings:Role_Name}"></Column>
			</Columns>
		</View>

		<View id="Role-Edit" name="{ProfileStrings:Role_Edit}" controlUrl="Profile/RoleEdit.ascx">
			<Tabs>
				<Tab Name="{ProfileStrings:Overview}" ControlUrl="Profile/Tabs/RoleOverviewEditTab.ascx" permissions="profile:roles:mng:edit"></Tab>
			</Tabs>
		</View>

		<!-- Meta Data Admin Views-->
		<View id="MetaClass-List" name="{SharedStrings:Meta_Classes}" controlUrl="Profile/MetaClassList.ascx" permissions="profile:admin:meta:cls:mng:edit">
		</View>

		<View id="MetaClass-Edit" name="{SharedStrings:Meta_Class_Edit}" controlUrl="Profile/MetaClassEdit.ascx">
			<Transitions>
        <!-- !!! Transition attributes don't need to be localized !!! -->
				<Transition name="List" ViewId="MetaClass-List"></Transition>
			</Transitions>
		</View>

		<View id="MetaFields-List" name="{SharedStrings:Meta_Fields}" controlUrl="Profile/MetaFieldList.ascx" permissions="profile:admin:meta:fld:mng:view">
			<!-- Columns map columns to grid column which will be automatically created -->
			<Columns>
				<Column Width="70" AllowSorting="false" DataField="Id" HeadingText="{ProfileStrings:ID}"></Column>
				<Column Width="400" AllowSorting="false" DataField="Name" HeadingText="{ProfileStrings:Name}" id="Name" ColumnType="HyperLink" DataNavigateUrlFields="Id" DataNavigateUrlFormatString="javascript:CSManagementClient.ChangeView('Profile', 'MetaField-Edit','id={0}&amp;namespace=Mediachase.Commerce.Profile&amp;fieldnamespace=Mediachase.Commerce.Profile.System');" DataTextFields="Name" DataTextFormatString="{0}"></Column>
				<Column Width="200" AllowSorting="false" DataField="FriendlyName" HeadingText="{ProfileStrings:Friendly_Name}"></Column>
			</Columns>
		</View>

		<View id="MetaField-Edit" name="{SharedStrings:Meta_Field_Edit}" controlUrl="Profile/MetaFieldEdit.ascx">
			<Transitions>
        <!-- !!! Transition attributes don't need to be localized !!! -->
				<Transition name="List" ViewId="MetaFields-List"></Transition>
			</Transitions>
		</View>

		<View id="MetaField-New" name="{SharedStrings:Meta_Field_Edit}" controlUrl="Profile/MetaFieldEdit.ascx">
			<Transitions>
        <!-- !!! Transition attributes don't need to be localized !!! -->
				<Transition name="List" ViewId="MetaFields-List"></Transition>
			</Transitions>
		</View>

		<!-- START: Export/Import Meta data -->
		<View id="MetaData-Export" name="{SharedStrings:Export_Meta_Data}" controlUrl="Core/MetaData/Admin/MetaDataExport.ascx">
		</View>
		<View id="MetaData-Import" name="{SharedStrings:Import_Meta_Data}" controlUrl="Core/MetaData/Admin/MetaDataImport.ascx">
      <Tabs>
        <Tab Name="{ProfileStrings:Import}" ControlUrl="Core/MetaData/Admin/Tabs/MetaDataImportTab.ascx"></Tab>
      </Tabs>
		</View>
		<!-- END: Export/Import Meta data -->

    <!-- ComponentArt Grid -->
    <View id="FilesList-Import" name="{ProfileStrings:Import}" controlUrl="Core/Controls/FileListControl.ascx">
      <Columns>
        <Column Visible="true" Width="1" AllowEditing="false" AllowSorting="false" DataField="FullName" HeadingText="{ProfileStrings:Path}"></Column>
        <Column Visible="true" Width="400" IsSearchable="true" AllowEditing="false" AllowSorting="true" DataField="Name" HeadingText="{ProfileStrings:File_Name}"></Column>
        <Column DataCellServerTemplateId="FileSizeTemplate" Width="70" IsSearchable="true" AllowSorting="true" DataField="Length" HeadingText="{ProfileStrings:Size}">
          <Template id="FileSizeTemplate" FileSizeArgument="Length" ControlUrl="~/Apps/Core/Controls/GridTemplates/FileSizeTemplate.ascx"></Template>
        </Column>
        <Column DataCellServerTemplateId="DateTimeTemplate" IsSearchable="false" Width="150" AllowSorting="true" DataField="CreationTime" HeadingText="{SharedStrings:Created}">
          <Template id="DateTimeTemplate" DateArgument="CreationTime" ConvertFromServerTime="true" ControlUrl="~/Apps/Core/Controls/GridTemplates/DateTimeTemplate.ascx"></Template>
        </Column>
        <Column DataCellServerTemplateId="DateTimeTemplate2" IsSearchable="false" Width="150" AllowSorting="true" DataField="LastWriteTime" HeadingText="{SharedStrings:Last_Updated}">
          <Template id="DateTimeTemplate2" DateArgument="LastWriteTime" ConvertFromServerTime="true" ControlUrl="~/Apps/Core/Controls/GridTemplates/DateTimeTemplate.ascx"></Template>
        </Column>
      </Columns>
    </View>
    
		<!-- /Meta Data Admin Views-->

	</Views>
</Configuration>
