 /* common styling */
.Mediachase_ActionSet_Menu {
font-family: verdana, sans-serif; 
position:relative;
font-size:11px;
cursor:hand;
font-family: verdana;
}
.Mediachase_ActionSet_Menu ul {
padding:0; 
margin:0;
list-style-type: none;
cursor:hand;
}
.Mediachase_ActionSet_Menu ul li {
float:left;
position:relative;
cursor:hand;
}
.Mediachase_ActionSet_Menu ul li a, .Mediachase_ActionSet_Menu ul li a:visited 
{
    cursor:hand;
display:block; 
text-decoration:none; 
color:#000; 
width:88px; 
/*height:1.5em;*/
height:16px;
font-weight:bold;
color:#888; 
border-bottom:1px none transparent;
background:transparent; 
/*padding-left:10px; */
/*line-height:1.5em;*/
line-height:16px;
/*margin-right:2px;*/
}
* html .Mediachase_ActionSet_Menu ul li a, .Mediachase_ActionSet_Menu ul li a:visited {
width:98px;
w\idth:88px;
}
.Mediachase_ActionSet_Menu ul li ul {
display: none;
}
/*
table {
/*margin:-1px; 
/*border-collapse:collapse;
font-size:1em;
}*/

/* specific to non IE browsers */
.Mediachase_ActionSet_Menu ul li:hover a {
color:#000; 
border-bottom:1px none #888;
}
.Mediachase_ActionSet_Menu ul li:hover ul {
display:block; 
position:absolute; 
/*top:1.5em;*/
top:15px;
/*margin-top:11px;*/
left:0; 
width:88px;
border:1px none #888;
border-top:0;
background-color:#fff;
filter: alpha(opacity=85); 
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=85); 
-moz-opacity: 0.85; 
opacity:0.85;
}

.Mediachase_ActionSet_Menu ul li:hover ul li a {
display:block; 
color:#000; 
border:0;
margin:0;
font-weight:normal; 
font-size:0.9em;
height:auto; 
line-height:25px;
/*padding:5px; */
width:86px
vertical-align:middle;
text-align:left;
}

.Mediachase_ActionSet_Menu ul li:hover ul li a:hover {
background:#888; 
color:#000;
}

/*MY*/

.Mediachase_ActionSet_Menu UL LI UL LI A:HOVER TD{
	background-color: #ffeec2;
	
}
.Mediachase_ActionSet_Menu UL LI UL LI A:HOVER TD IMG{
	background-color: #ffeec2;
	padding:4px;
}

.Mediachase_ActionSet_Menu UL LI UL LI A TD IMG{
	background-color: #aec9f0;
	padding:4px;
}