.Mediachase_ActionSet_Menu ul li a:hover {
color:#000; 
border-bottom:40px none transparent;
}
.Mediachase_ActionSet_Menu ul li a:hover ul {
display:block; 
position:absolute; 
top:15px; 
left:0;
background:#fff;
/*margin-top:10px;
marg\in-top:11px;*/
border:1px none #888;
border-top:0;
filter: alpha(opacity=85); 
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=85); 
-moz-opacity: 0.85; 
opacity:0.85;
}
.Mediachase_ActionSet_Menu ul li a:hover ul li a {
display:inline; 
background-color:#fff;
border:none;
margin:0;
color:#333;
font-weight:normal; 
font-size:9px;
height:auto; 
/*line-height:25px;*/
/*padding:5px;*/
vertical-align:middle;
text-align:left;
width:100px;
w\idth:100px;
}

.Mediachase_ActionSet_Menu ul li a:hover ul li
{
	width: 100px;
	background-color:#ddd;
}

.Mediachase_ActionSet_Menu ul li a:hover ul li a:hover {
background:#888; 
color:#000;
}
