<?xml version="1.0" encoding="utf-8" ?>
<DynamicControlInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
	<Uid>FFB8349E-91A2-4026-A4F7-8524B3B7C041</Uid>
	<Title>Advanced Search</Title>
	<IconPath>../Images/NWTDIcon.png</IconPath>
	<Path>Catalog/AdvancedSearch.ascx</Path>
	<Category>NWTD Catalog</Category>
</DynamicControlInfo>