<?xml version="1.0" encoding="utf-8" ?>
<DynamicControlInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
	<Uid>B1771CBE-BFD9-45ed-AC37-72F7F5106CA9</Uid>
	<Title>Cart</Title>
	<IconPath>../Images/NWTDIcon.png</IconPath>
	<Path>Cart/Cart.ascx</Path>
	<Category>NWTD Cart</Category>
</DynamicControlInfo>