<?xml version="1.0" encoding="utf-8" ?>
<DynamicControlInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
	<Uid>97C4471E-6BEF-4dac-AF7F-64701836173D</Uid>
	<Title>Change Password</Title>
	<IconPath>../Images/NWTDIcon.png</IconPath>
	<Path>user/ChangePassword.ascx</Path>
	<Category>NWTD User</Category>
</DynamicControlInfo>