<?xml version="1.0" encoding="utf-8" ?>
<DynamicControlInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
	<Uid>53755727-7BF5-463e-95B7-8D02D2327803</Uid>
	<Title>NWTD Index Search Viewer</Title>
	<IconPath>../Images/NWTDIcon.png</IconPath>
	<Path>Catalog/IndexSearchView.ascx</Path>
	<Category>NWTD Catalog</Category>
	<PropertyPagePath>PropertyPages/PP_IndexSearchView.ascx</PropertyPagePath>
</DynamicControlInfo>