<?xml version="1.0" encoding="utf-8" ?>
<DynamicControlInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
	<Uid>FC0915A8-C46E-447e-9253-2C4D8EB8EC01</Uid>
	<Title>Publisher Representatives</Title>
	<IconPath>../Images/NWTDIcon.png</IconPath>
	<Path>CSS/PublisherRepresentatives.ascx</Path>
	<Category>NWTD CSS</Category>
	<PropertyPagePath>PropertyPages/PublisherListPropertyPage.ascx</PropertyPagePath>
</DynamicControlInfo>