<?xml version="1.0" encoding="utf-8" ?>
<DynamicControlInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
	<Uid>ACB3F377-76D6-4007-8C38-6C3434F97663</Uid>
	<Title>Quick ISBN Entry</Title>
	<IconPath>../Images/NWTDIcon.png</IconPath>
	<Path>Cart/QuickISBN.ascx</Path>
	<Category>NWTD Cart</Category>
</DynamicControlInfo>