<?xml version="1.0" encoding="utf-8" ?>
<DynamicControlInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
	<Uid>13DFB9B8-245D-4017-A9A9-C85BE9AC5D5E</Uid>
	<Title>Register</Title>
	<IconPath>../Images/NWTDIcon.png</IconPath>
	<Path>user/Register.ascx</Path>
	<Category>NWTD User</Category>
	<PropertyPagePath>PropertyPages/RegisterPropertyPage.ascx</PropertyPagePath>
</DynamicControlInfo>