<?xml version="1.0" encoding="utf-8" ?>
<DynamicControlInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
	<Uid>DE45CD50-9E81-41c5-912C-CA2EA8E573E4</Uid>
	<Title>Report Viewer</Title>
	<IconPath>../Images/NWTDIcon.png</IconPath>
	<Path>Reports/Reports.ascx</Path>
	<Category>NWTD Reports</Category>
</DynamicControlInfo>