<?xml version="1.0" encoding="utf-8" ?>
<DynamicControlInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
	<Uid>F4B688D0-C5B8-4d35-BD84-107B11CB185E</Uid>
	<Title>Search By Publisher</Title>
	<IconPath>../Images/NWTDIcon.png</IconPath>
	<Path>Catalog/SearchByPublisher.ascx</Path>
	<Category>NWTD Catalog</Category>
</DynamicControlInfo>