<?xml version="1.0" encoding="utf-8" ?>
<DynamicControlInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
	<Uid>65108CD7-7677-4279-B239-C7AF6BC9C4BA</Uid>
	<Title>Search Test</Title>
	<IconPath>../Images/NWTDIcon.png</IconPath>
	<Path>TestControls/SearchTest.ascx</Path>
	<Category>Test</Category>
</DynamicControlInfo>