.AbsWrap
{
	width: 100%;
	position: relative;
}
.rowWrap
{
	width: 100%;
}
.clearfloat
{
	clear: both;
	height: 0px;
}
#entry-layout-3columns
{
	float: left;
	width: 973px;
	margin-top: 0px;
	margin-left: 0px;
	border: 0px solid #f0f0f0;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
#entry-column-01
{
	float: left;
	width: 240px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 5px;
}

#entry-product-display
{
	width: 237px;
	padding-top: 0px;
	padding-bottom: 21px;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	float: left;
	display: inline;
}
#entry-product-display .logo
{
	width: 237px;
	margin-right: 5px;
	text-align: center;
	height: 62px;
	margin-bottom: 0px;
	float: left;
	display: inline;
	overflow: hidden;
	border: 1px solid #ddd;
}

#entry-product-display .image
{
	margin-left: 0px;
	margin-top: 16px;
	width: 236px;
	text-align: center;
	height: 185px;
	margin-bottom: 0px;
	float: left;
	display: inline;
	overflow: hidden;
}
#entry-product-display .zoom
{
	margin-left: 68px;
	margin-top: 28px;
	width: 18px;
	height: 17px;
	margin-bottom: 0px;
	float: left;
	display: inline;
	overflow: hidden;
}
#entry-product-display .item-zoom
{
	margin-left: 8px;
	margin-top: 29px;
	width: 66px;
	margin-bottom: 0px;
	float: left;
	display: inline;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	color: #767676;
	line-height: 102.85709999999999%;
	padding-top: 1px;
	padding-bottom: 2px;
}

#entry-product-display .thumbnail
{
	margin-left: 33px;
	margin-top: 18px;
	width: 47px;
	height: 38px;
	margin-bottom: 0px;
	float: left;
	display: inline;
	overflow: hidden;
}

/* GENERIC BOX */
#entry-thickbox
{
  height: 80px;
	width: 100%;
	float: left;
	display: inline;
}

#entry-thickbox .image
{
	margin-right: 10px;
	float: left;
	overflow: hidden;
	border: 1px solid #ddd;
}

#entry-thickbox .row
{
	width: 100%;
}

#entry-thickbox .desc
{
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	color: #666666;
	line-height: 152.7273%;
	display: inline;
}

/* GENERIC BOX */
#entry-box
{
	margin: 9px 0px 5px 5px;
	border: 1px solid #9e9e9e;
	width: 100%;
	padding-top: 0px;
	padding-bottom: 35px;
	float: left;
	display: inline;
}

#entry-box .header
{
	background:url(images/buttons/blue-dark.png) repeat-x 0 0;
	background-color: #9e9e9e;
	width: 100%;
	padding-top: 0px;
	padding-bottom: 4px;
	float: left;
	display: inline;
}

#entry-box .header .text
{
	margin-left: 4px;
	margin-top: 3px;
	width: 100%;
	margin-bottom: 0px;
	float: left;
	display: inline;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 800;
	text-align: left;
	color: #ffffff;
	line-height: 94%;
	padding-top: 1px;
	padding-bottom: 2px;
}

#entry-box .image
{
	margin-left: 5px;
	margin-top: 10px;
	margin-bottom: 0px;
	float: left;
	display: inline;
	overflow: hidden;
	border: 1px solid #ddd;
}

#entry-box .row
{
	width: 100%;
}

#entry-box .desc
{
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 0px;
	float: left;
	display: inline;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	color: #347cd3;
	line-height: 152.7273%;
	padding-top: 1px;
	padding-bottom: 2px;
}

.brand-name
{
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	color: Black;
}

#entry-box .name
{
	margin-left: 12px;
	margin-top: 8px;
	margin-bottom: 0px;
	float: left;
	display: inline;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	color: #347cd3;
	line-height: 152.7273%;
	padding-top: 1px;
	padding-bottom: 2px;
}

#entry-box .price
{
	margin-left: 11px;
	margin-top: 18px;
	width: 57px;
	margin-bottom: 0px;
	float: left;
	display: inline;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 800;
	text-align: left;
	color: #347cd3;
	line-height: 140%;
	padding-top: 1px;
	padding-bottom: 2px;
}

#entry-box .add-to-cart-text
{
	margin-right: 6px;
	margin-top: 19px;
	width: 62px;
	margin-bottom: 0px;
	float: right;
	display: inline;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	color: #6d8838;
	line-height: 100%;
	padding-top: 1px;
	padding-bottom: 2px;
}

#entry-box .add-to-cart-image
{
	margin-right: 5px;
	margin-top: 14px;
	width: 22px;
	height: 23px;
	margin-bottom: 0px;
	float: right;
	display: inline;
	overflow: hidden;
}

#entry-column-02
{
	float: left;
	width: 525px;
	margin-top: 0px;
	margin-left: 0px;
	border: 0px solid #f0f0f0;
}

#entry-column-02 h1
{
	margin-left: 5px;
}
#entry-buy
{
	border: 1px solid #9e9e9e;
	width: 516px;
	padding-top: 0px;
	padding-bottom: 20px;
	margin-left: 7px;
	margin-top: 20px;
	margin-bottom: 0px;
	float: left;
	display: inline;
}
#entry-buy-product-info-col-01
{
	float: left;
	width: 260px;
	margin-top: 0px;
	margin-left: 0px;
	border: 0px solid #f0f0f0;
}
#entry-buy-product-info-col-01-row-01
{
	width: 257px;
	padding-top: 0px;
	padding-bottom: 6px;
	margin-left: 3px;
	margin-top: 7px;
	margin-bottom: 0px;
	float: left;
	display: inline;
}
#entry-buy-product-info-price
{
	margin-left: 2px;
	margin-top: 6px;
	width: 197px;
	margin-bottom: 0px;
	float: left;
	display: inline;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 800;
	text-align: left;
	color: #f22f25;
	line-height: 93.3333%;
	padding-top: 1px;
	padding-bottom: 2px;
}
#entry-buy-product-info-savings
{
	margin-left: 1px;
	margin-top: 3px;
	width: 191px;
	margin-bottom: 0px;
	float: left;
	display: inline;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	color: #ce8800;
	line-height: 152.7273%;
	padding-top: 1px;
	padding-bottom: 2px;
}
#entry-buy-product-info-savings-availability
{
	margin-left: 2px;
	margin-top: 4px;
	width: 186px;
	margin-bottom: 0px;
	float: left;
	display: inline;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	color: #85a449;
	line-height: 110.00000000000001%;
	padding-top: 1px;
	padding-bottom: 2px;
}
#entry-buy-product-info-col-02
{
	margin-right: 8px;
	margin-top: 10px;
	width: 201px;
	margin-bottom: 0px;
	float: right;
	display: inline;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: right;
	color: #797878;
	line-height: 240%;
	padding-top: 1px;
	padding-bottom: 2px;
}
#entry-buy-product-info-quantity
{
	margin-left: 4px;
	margin-top: 1px;
	width: 510px;
	margin-bottom: 0px;
	float: left;
	display: inline;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 800;
	text-align: left;
	color: #797878;
	line-height: 154.2857%;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
}

#entry-related-products
{
	width: 501px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-left: 7px;
	margin-top: 20px;
	margin-bottom: 0px;
	float: left;
	display: inline;
}
#entry-related-products .header
{
	margin-left: 5px;
	margin-top: 5px;
	width: 479px;
	margin-bottom: 0px;
	float: left;
	display: inline;
	font-size: 14px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	color: #797878;
	line-height: 102.85709999999999%;
	padding-top: 1px;
	padding-bottom: 2px;
}
#entry-related-products .checkbox
{
	margin-left: 7px;
	margin-top: 14px;
	width: 17px;
	height: 17px;
	margin-bottom: 0px;
	float: left;
	display: inline;
	overflow: hidden;
}

#entry-related-products .image
{
	margin-left: 16px;
	margin-top: 14px;
	width: 47px;
	height: 38px;
	margin-bottom: 0px;
	float: left;
	display: inline;
	overflow: hidden;
	border: 1px solid #ddd;
}

#entry-related-products .link
{
	margin-left: 17px;
	margin-top: 12px;
	width: 294px;
	margin-bottom: 0px;
	float: left;
	display: inline;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	color: #347cd3;
	line-height: 140%;
	padding-top: 1px;
	padding-bottom: 2px;
}

#entry-related-products .price
{
	margin-right: 5px;
	margin-top: 13px;
	width: 74px;
	margin-bottom: 0px;
	float: right;
	display: inline;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 800;
	text-align: right;
	color: #347cd3;
	line-height: 140%;
	padding-top: 1px;
	padding-bottom: 2px;
}

#entry-additional-options
{
	width: 501px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-left: 6px;
	margin-top: 12px;
	margin-bottom: 0px;
	float: left;
	display: inline;
	border-bottom: 1px solid #C0C0C0;
	padding-bottom: 5px;
}

#entry-additional-options .header
{
	margin-left: 6px;
	margin-top: 6px;
	width: 480px;
	margin-bottom: 0px;
	float: left;
	display: inline;
	font-size: 14px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	color: #797878;
	line-height: 102.85709999999999%;
	padding-top: 1px;
	padding-bottom: 2px;
}

#entry-additional-options .checkbox
{
	margin-left: 8px;
	margin-top: 12px;
	width: 17px;
	height: 17px;
	margin-bottom: 0px;
	float: left;
	display: inline;
	overflow: hidden;
}

#entry-additional-options .price
{
	margin-right: 4px;
	margin-top: 12px;
	width: 74px;
	margin-bottom: 0px;
	float: right;
	display: inline;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 800;
	text-align: right;
	color: #347cd3;
	line-height: 140%;
	padding-top: 1px;
	padding-bottom: 2px;
}

#entry-additional-options .image
{
	margin-left: 16px;
	margin-top: 14px;
	width: 47px;
	height: 38px;
	margin-bottom: 0px;
	float: left;
	display: inline;
	overflow: hidden;
	border: 1px solid #ddd;
}

#entry-additional-options .link
{
	margin-right: 27px;
	margin-top: 11px;
	width: 292px;
	margin-bottom: 0px;
	float: right;
	display: inline;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	color: #347cd3;
	line-height: 140%;
	padding-top: 1px;
	padding-bottom: 2px;
}

#entry-purchase
{
	margin-left: 6px;
	margin-top: 17px;
	width: 105px;
	height: 42px;
	margin-bottom: 0px;
	float: left;
	display: inline;
}

#entry-shipping-note
{
	margin-right: 22px;
	margin-top: 19px;
	width: 352px;
	margin-bottom: 0px;
	float: right;
	display: inline;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	color: #ce8800;
	line-height: 152.7273%;
	padding-top: 1px;
	padding-bottom: 2px;
}
#entry-overview
{
	width: 518px;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 7px;
	margin-top: 9px;
	margin-bottom: 0px;
	float: left;
	display: inline;
}
#entry-column-03
{
	float: left;
	width: 190px;
	margin-top: 0px;
	padding-top: 0px;
	margin-left: 0px;
	border: 0px solid #f0f0f0;
}