.results-wrapper .nwtd-table-header-fixed TH.col8, .results-wrapper .nwtd-searchResults TD.col8 {
    text-align: right;
    width: 84px;
}

.results-wrapper .nwtd-table-header-fixed TH.col7, .results-wrapper .nwtd-searchResults TD.col7 {
    padding: 0 0 0 5px;
    text-align: right;
    width: 67px;
}

input.login-btn{
	background-image: url("images-template/login-btn.png");
	width: 48px;
	height:21px;
}

input.print-btn-blue {
	background-image: url(images-template/print-btn-blue.png);
	background-repeat: no-repeat;
	width: 45px;
	height: 21px;
	margin:11px 0 0 42px;
}

/* progress indicator*/
.nwtd-update-message{
	position:absolute;
	left:50%;
}


.nwtd-register-form .nwtd-error{
	color:#f00;
	font-weight:bold;
}

.nwtd-register-form .nwtd-form-field{
	overflow:auto;
}

.nwtd-register-form-errors {
/*	clear:both;
	float:right;*/
	float: left;
	color:#f00;
	width: 100%;
	padding: 0 0 0 10px;
}

.nwtd-register-form-errors UL {
	list-style-type: disc;
	margin: 0 0 0 25px;
}

.nwtd-error {
	padding: 0 0 0 5px;
}

input.register-btn {
	background-color:transparent;
	background-image:url("images-template/register-btn.png");
	border:0 none;
	color:transparent;
	cursor:pointer;
	font-size:10px;
	font-weight:bold;
	height:21px;
	padding:0;
	text-indent:-9999px;
	text-transform:capitalize;
	width:66px;
}

#nwtd-pageContent .register-description P {
	font-size: 12px;
}