<Promotion sortorder="200">
  <Type>OrderCustomDiscount</Type>
  <Name>Build Your Own Discount</Name>
  <Description>
    This type of promotion allows you to create your own custom promotion.
  </Description>
  <Group>order</Group>
  <Path>EntryCustomDiscount/ConfigControl.ascx</Path>
  <Expression>
  </Expression>
</Promotion>
