<?xml version="1.0"?>
<connectionStrings>
  <add name="EcfSqlConnection" connectionString="Data Source=[server];Initial Catalog=[database];User ID=[login];Password=[password];Pooling=false;Connect Timeout=45;Application Name=eCommerceFramework"/>
</connectionStrings>


<!--
<?xml version="1.0"?>
<connectionStrings>
  <add name="EcfSqlConnection" connectionString="Data Source=VM-SQL2005-a;Initial Catalog=ECF50_Beta;User ID=sa;Password=mcsqladmin;Application Name=eCommerceFramework"/>
</connectionStrings>
-->