<?xml version="1.0" encoding="utf-8" ?>
<DynamicControlInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<Uid>82AB87EC-65C4-4b87-B3B3-001F3F5A1B7A</Uid>
	<Title>Address Edit</Title>
	<Description>Address Edit Control Description</Description>
	<IconPath>Profile/Address/customeraddressedit.gif</IconPath>
	<Path>Profile/Address/CustomerAddressEditControl.ascx</Path>
	<Category>Profile</Category>
</DynamicControlInfo>