<?xml version="1.0" encoding="utf-8" ?>
<DynamicControlInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<Uid>87213CD3-D30C-40f9-A101-5A2724CFFA0B</Uid>
	<Title>Cart Viewer</Title>
	<Description>Cart Viewer Control Description</Description>
	<IconPath>Cart/cart.gif</IconPath>
	<Path>Cart/CartView.ascx</Path>
	<Category>Cart</Category>
</DynamicControlInfo>