<?xml version="1.0" encoding="utf-8" ?>
<DynamicControlInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<Uid>73DF9D0D-79C9-42a2-A38F-434FE336A78B</Uid>
	<Title>Change Email</Title>
	<Description>Change Email Control Description</Description>
	<IconPath>Profile/changeemail.gif</IconPath>
	<Path>Profile/ChangeEMail.ascx</Path>
	<Category>Profile</Category>
</DynamicControlInfo>