<?xml version="1.0" encoding="utf-8" ?>
<DynamicControlInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Uid>811F8849-FCEA-4dfe-9F73-AE801DE00739</Uid>
  <Title>Change Password</Title>
  <Description>Change Password Control Description</Description>
  <IconPath>Profile/ChangePassword.gif</IconPath>
  <Path>Profile/ChangePassword.ascx</Path>
  <Category>Profile</Category>
</DynamicControlInfo>