<?xml version="1.0" encoding="utf-8" ?>
<DynamicControlInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<Uid>5D0F7890-65BA-449b-B32E-700CBB8ADCDB</Uid>
	<Title>Checkout</Title>
	<Description>Checkout Control Description</Description>
	<IconPath>Cart/checkout.gif</IconPath>
	<Path>Cart/CheckoutView.ascx</Path>
	<Category>Cart</Category>
</DynamicControlInfo>