<?xml version="1.0" encoding="utf-8" ?>
<DynamicControlInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<Uid>72777A4A-B453-4367-B5F8-AB08FFA86F7B</Uid>
	<Title>Entry Viewer</Title>
	<Description>EntryViewer Control Description</Description>
	<IconPath>Catalog/entry.gif</IconPath>
	<Path>Catalog/EntryView.ascx</Path>
	<PropertyPagePath>Catalog/PP_EntryView.ascx</PropertyPagePath>
	<Category>Catalog</Category>
</DynamicControlInfo>