<?xml version="1.0" encoding="utf-8" ?>
<DynamicControlInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Uid>4B54E0B0-0423-40b6-AF34-52C493902927</Uid>
  <Title>Image</Title>
	<Description>Image Control Description</Description>
	<IconPath>Image/image.gif</IconPath>
	<Path>Image/ImageView.ascx</Path>
  <PropertyPagePath>Image/PP_ImageView.ascx</PropertyPagePath>
	<Category>Base</Category>
</DynamicControlInfo>
