<?xml version="1.0" encoding="utf-8" ?>
<DynamicControlInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<Uid>6BE68950-3D46-4e3a-BCB7-A8A6FCBA5ED4</Uid>
	<Title>Index Search Viewer</Title>
	<Description>SearchViewer Control Description</Description>
	<IconPath>Catalog/search.gif</IconPath>
	<Path>Catalog/IndexSearchView.ascx</Path>
	<PropertyPagePath>Catalog/PP_IndexSearchView.ascx</PropertyPagePath>
	<Category>Catalog</Category>
</DynamicControlInfo>