<?xml version="1.0" encoding="utf-8" ?>
<DynamicControlInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<Uid>950DB48F-A25A-402c-84D2-9DE44D3C1A6D</Uid>
	<Title>Logout</Title>
	<Description>Logout Control Description</Description>
	<IconPath>Profile/login.gif</IconPath>
	<Path>Profile/Logout.ascx</Path>
	<Category>Profile</Category>
</DynamicControlInfo>