<?xml version="1.0" encoding="utf-8" ?>
<DynamicControlInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<Uid>D9F52B77-783C-4d77-A7DD-3379559652F3</Uid>
	<Title>Order Details</Title>
	<Description>OrderDetailsViewer Control Description</Description>
	<IconPath>Cart/orderdetails.gif</IconPath>
	<Path>Cart/OrderDetailsView.ascx</Path>
	<Category>Cart</Category>
</DynamicControlInfo>