<?xml version="1.0" encoding="utf-8" ?>
<DynamicControlInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<Uid>D620112A-01A5-4900-9D61-E8F13E6C6B55</Uid>
	<Title>Registration Wizard</Title>
	<Description>Register Control Description</Description>
	<IconPath>Profile/register.gif</IconPath>
	<Path>Profile/Register.ascx</Path>
	<Category>Profile</Category>
</DynamicControlInfo>