.top-menu
{
	background-image: url(images/menu/bg.gif);
	border-left: 2px solid #BFBBBC;
	border-right: 1px solid #BFBBBC;
	color: #29292c;
	cursor: pointer;
	font: 12px arial,helvetica,clean,sans-serif;
	font-weight: bold;
	height: 26px;
	padding-top: 3px;
	position: relative;
	width: 969px;
}

.top-menu-normal-column
{
	border-right: 1.5px solid #BFBBBC;
	float: left;
	height: 18px;
	overflow: hidden;
	padding-top: 3px;
	text-align: center;
	vertical-align: text-top;
	width: 192.8px;
}

.top-menu-last-column
{
	/*float: left;*/
	height: 18px;
	overflow: hidden;
	padding-top: 3px;
	text-align: center;
	vertical-align: text-top;
	/*width: 192.8px;*/
	min-width: 50px;
}

.top-menu-item
{
	color: #4f4f4f;
}

.top-menu-item:hover
{
	color: #cc3300;
}


/*Second menu style*/
.mnu-top
{
	background-color: #5A6B7D;
	border: 1px #8394AC solid;
	cursor: default;
	width: 100%;
}

.mnu-top-item
{
  background-color:#5A6B7D; 
  color:white; 
  font-family:tahoma; 
  font-size:12px; 
  border:1px #5A6B7D solid;
  cursor:default; 
  text-align: center;
}

.mnu-top-item-h
{
  background-color:#C2C5C8; 
  background-image: url(images/menu/top_item_bg.gif);
  color:white; 
  font-family:tahoma; 
  font-size:12px; 
  border:1px #DFE2E5 solid;
  cursor:pointer; 
  text-align: center;
}

.mnu-item
{
	border: 1px solid #F5F5F5;
	color: #00025C;
	font-family: tahoma;
	font-size: 11px;
	cursor:pointer; 
}

.mnu-item-h
{
	background-color: #E4F1F7;
	background-image: url(images/menu/item_bg.gif);
	color: #00025C;
	border: 1px solid #AADAED;
	font-family: tahoma;
	font-size: 11px;
	cursor:pointer; 
}

.mnu-grp
{
	background-color: #F5F5F5;
	border: 1px #4E5358 solid;
	border-style: solid;
	cursor: default;
}