<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="FrameworkProviders">
			<section name="dataService" type="Mediachase.Data.Provider.DataProviderSection, Mediachase.DataProvider" />
			<section name="imageService" type="Mediachase.Providers.ImageServiceSection, Mediachase.ImageServiceProvider"/>
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="MetaDataTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="CommerceFramework">
			<section name="Workflow" type="Mediachase.Commerce.WorkflowConfiguration,Mediachase.Commerce"/>
			<section name="Application" type="Mediachase.Commerce.Core.CoreConfiguration,Mediachase.Commerce"/>
			<section name="Catalog" type="Mediachase.Commerce.Catalog.CatalogConfiguration,Mediachase.Commerce"/>
			<section name="Marketing" type="Mediachase.Commerce.Marketing.MarketingConfiguration,Mediachase.Commerce"/>
			<section name="Orders" type="Mediachase.Commerce.Orders.OrderConfiguration,Mediachase.Commerce"/>
			<section name="Profile" type="Mediachase.Commerce.Profile.ProfileConfiguration,Mediachase.Commerce"/>
			<section name="ContentManagement" type="Mediachase.Cms.CmsConfiguration,Mediachase.Cms"/>
		</sectionGroup>
	</configSections>


	<!-- Framework configuration -->
	<CommerceFramework>
		<!-- Cms Configuration -->
		<ContentManagement>
			<Connection connectionStringName="EcfSqlConnection" />
			<Cache enabled="true" pageDocumentTimeout="10" menuTimeout="60" workflowTimeout="60" templateTimeout="60" />
		</ContentManagement>
		<!-- Workflow Configuration -->
		<Workflow>
			<Workflows>
				<add name="CartValidate" displayname="Validate Cart" description="Checks inventory, populates extra fields" type="Mediachase.Commerce.Workflow.CartValidateWorkflow, Mediachase.Commerce.Workflow" xomlpath="" rulespath=""/>
				<add name="CartPrepare" displayname="Cart Prepare" description="Creates shipments" type="Mediachase.Commerce.Workflow.CartPrepareWorkflow, Mediachase.Commerce.Workflow" xomlpath="" rulespath=""/>
				<add name="CartCheckout" displayname="Cart Checkout" description="Processes credit card information" type="Mediachase.Commerce.Workflow.CartCheckoutWorkflow, Mediachase.Commerce.Workflow" xomlpath="" rulespath=""/>
			</Workflows>
		</Workflow>
		<!-- Application Configuration -->
		<Application defaultApplicationName="Mediachase">
			<Roles>
				<add name="AdminRole" value="Admins" />
				<add name="ManagerUserRole" value="Management Users" />
				<add name="EveryoneRole" value="Everyone" />
				<add name="RegisteredRole" value="Registered" />
			</Roles>
			<Connection connectionStringName="EcfSqlConnection" />
			<Cache enabled="true" appTimeout="10" />
		</Application>
		<!-- Catalog Configuration -->
		<Catalog autoConfigure="true">
			<Connection connectionStringName="CatalogConfigurationWS" useWebServices="true" />
			<Cache enabled="true" collectionTimeout="10" entryTimeout="10" nodeTimeout="10" schemaTimeout="10" />
			<Encoding imageQualityPercentage="80" defaultFormat="jPeg"/>
			<Roles>
				<add name="CatalogAdminRole" value="Catalog Admins" />
				<add name="CatalogManagerRole" value="Catalog Managers" />
				<add name="CatalogSchemaManagerRole" value="Catalog Schema Managers" />
				<add name="CatalogViewerRole" value="Catalog Viewers" />
			</Roles>
      <!-- Sale Price Types -->
      <SalePriceTypes>
        <add key="AllCustomers" value="0" description="All Customers" />
        <add key="Customer" value="1" description="Customer"/>
        <add key="CustomerPriceGroup" value="2" description="Customer Price Group"/>
        <!-- Add custom types here -->
        <!--<add key="JurisdictionGroup" value="3" description="Jurisdiction Group"/>-->
      </SalePriceTypes>
    </Catalog>
		<!-- Marketing Configuration -->
		<Marketing>
			<Connection connectionStringName="EcfSqlConnection" />
			<Cache enabled="true" promotionTimeout="10" campaignTimeout="10" policyTimeout="15" segmentTimeout="10" expressionTimeout="10" />
			<MappedTypes>
				<ExpressionValidatorType name="Mediachase.Commerce.Marketing.SimpleExprValidator,Mediachase.Commerce" />
			</MappedTypes>
			<Roles>
				<add name="AdminRole" value="Marketing Admins" />
				<add name="ManagerRole" value="Marketing Managers" />
				<add name="SchemaManagerRole" value="Marketing Schema Managers" />
				<add name="ViewerRole" value="Marketing Viewers" />
			</Roles>
		</Marketing>
		<!-- Orders Configuration -->
		<Orders newOrderStatus="NewOrder" autoConfigure="true">
			<MappedTypes>
				<ShoppingCartType name="Mediachase.Commerce.Orders.Cart,Mediachase.Commerce" />
				<PurchaseOrderType name="Mediachase.Commerce.Orders.PurchaseOrder,Mediachase.Commerce" />
				<OrderFormType name="Mediachase.Commerce.Orders.OrderForm,Mediachase.Commerce" />
				<PaymentPlanType name="Mediachase.Commerce.Orders.PaymentPlan,Mediachase.Commerce" />
				<LineItemType name="Mediachase.Commerce.Orders.LineItem,Mediachase.Commerce" />
				<OrderGroupAddressType name="Mediachase.Commerce.Orders.OrderAddress,Mediachase.Commerce" />
				<ShipmentType name="Mediachase.Commerce.Orders.Shipment,Mediachase.Commerce" />
			</MappedTypes>
			<MetaClasses>
				<PurchaseOrderClass name="PurchaseOrder" />
				<PaymentPlanClass name="PaymentPlan" />
				<ShoppingCartClass name="ShoppingCart" />
				<OrderFormClass name="OrderFormEx" />
				<LineItemClass name="LineItemEx" />
				<ShipmentClass name="ShipmentEx" />
				<OrderAddressClass name="OrderGroupAddressEx" />
			</MetaClasses>
			<Connections confConnectionStringName="EcfSqlConnection" transConnectionStringName="EcfSqlConnection" />
			<Roles>
				<add name="AdminRole" value="Order Admins" />
				<add name="ManagerRole" value="Order Managers" />
				<add name="SchemaManagerRole" value="Order Schema Managers" />
				<add name="ViewerRole" value="Order Viewers" />
			</Roles>
		</Orders>
		<!-- Profile Configuration -->
		<Profile autoConfigure="true">
			<MetaClasses>
				<CustomerAddressClass name="CustomerAddressEx"/>
				<OrganizationClass name="Organization"/>
				<AccountClass name="Account"/>
			</MetaClasses>
			<MappedTypes>
				<CustomerAddress name="Mediachase.Commerce.Profile.CustomerAddress,Mediachase.Commerce" />
				<Organization name="Mediachase.Commerce.Profile.Organization,Mediachase.Commerce" />
				<Account name="Mediachase.Commerce.Profile.Account,Mediachase.Commerce" />
			</MappedTypes>
			<Connection connectionStringName="EcfSqlConnection" />
			<Cache enabled="true" userCollectionTimeout="0:1:0" organizationCollectionTimeout="0:1:0" userTimeout="0:1:0" organizationTimeout="0:1:0"/>
			<Roles>
				<add name="AdminRole" value="Profile Admins" />
				<add name="ManagerRole" value="Profile Managers" />
				<add name="SchemaManagerRole" value="Profile Schema Managers" />
				<add name="ViewerRole" value="Profile Viewers" />
			</Roles>
		</Profile>
	</CommerceFramework>

	<!-- 
		Framework Data provides.
		Currenty supports following providers:
		 - imageService: processes the images and creates a cached version, default implementation is caching images in the file system
		 - dataService: provides provider based access to the database, default implementation uses SqlDataProvider
	-->
	<FrameworkProviders>
		<dataService defaultProvider="SqlDataProvider">
			<providers>
				<add name="SqlDataProvider" type="Mediachase.Data.Provider.SqlDataProvider, Mediachase.SqlDataProvider" connectionStringName="EcfSqlConnection" applicationName="eCommerceFramework"/>
			</providers>
		</dataService>
		<imageService defaultProvider="FileImageProvider">
			<providers>
				<add name="FileImageProvider" type="Mediachase.Providers.FileImageProvider, Mediachase.ImageServiceProvider" cacheImages="true" storagePath="c:\temp\" storageUrlPath="c:\temp" storageUrl="c:\temp" duration="30" applicationName="eCommerceFramework"/>
			</providers>
		</imageService>
	</FrameworkProviders>

	<connectionStrings>
		<add name="EcfSqlConnection" connectionString="Data Source=VM-SQL2005-a;Initial Catalog=ECF50_WorkflowOne;User ID=wfo;Password=wfo;Application Name=CommerceUnitTest"/>
	</connectionStrings>
	<system.serviceModel>
		<client>
			<endpoint name="CatalogConfigurationWS" address="http://localhost/ecf50/is/CatalogService.svc" binding="wsHttpBinding" bindingConfiguration="CommerceServiceBinding" contract="Mediachase.Commerce.Catalog.ICatalogSystem"/>
		</client>
		<bindings>
			<wsHttpBinding>
				<binding name="CommerceServiceBinding">
					<!-- UsernameToken over Transport Security -->
					<security mode="None">
						<message clientCredentialType="None" />
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
	</system.serviceModel>
</configuration>
