<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
	<add name="EcfSqlConnection" connectionString="Data Source=MCC-VIRTUAL;Initial Catalog=ECF50_DEV_QA_MAIN;User ID=sa;Password=mcsqladmin;Application Name=eCommerceFrameworkDevQA" />
	<add name="MembershipSqlConnection" connectionString="Data Source=MCC-VIRTUAL;Initial Catalog=ECF50_DEV_QA_USERS;User ID=sa;Password=mcsqladmin;Application Name=eCommerceFrameworkDevQA" />
	<add name="MetaDataConnection" connectionString="Data Source=MCC-VIRTUAL;Initial Catalog=ECF50_DEV_QA_LIBRARY;User ID=sa;Password=mcsqladmin;Application Name=eCommerceFrameworkDevQA" />
</connectionStrings>