<?xml version="1.0"?>
<storageProvider defaultProvider="DiskBlobStorageProvider">
	<providers>
		<add name="DiskBlobStorageProvider" type="Mediachase.Ibn.Blob.DiskBlobStorageProvider, Mediachase.Ibn.Blob" allowSearch="False" basePath="c:\BlobStorage"/>
		<add name="SqlBlobStorageProvider" type="Mediachase.Ibn.Blob.SqlBlobStorageProvider, Mediachase.Ibn.Blob" allowSearch="True"/>
		<add name="PublicDiskBlobStorageProvider" type="Mediachase.Ibn.Blob.PublicDiskStorageProvider, Mediachase.Ibn.Blob" allowSearch="False" basePath="c:\BlobStorage\Public"/>
	</providers>
</storageProvider>
