<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="mediachase.license">
			<section name="licenseProvider" type="Mediachase.Licensing.LicenseStorageSection, Mediachase.Licensing"/>
		</sectionGroup>
	</configSections>
	<appSettings/>
	<mediachase.license>
		<licenseProvider defaultProvider="sqlProvider" allowUpload="True" licenseServerUri="http://licensing.mediachase.com/2.0/License.aspx">
			<providers>
				<add name="fileProvider" type="Mediachase.Licensing.FileStorageProvider, Mediachase.Licensing" storagePath="{path}"/>
				<add name="sqlProvider" type="Mediachase.Licensing.SqlStorageProvider, Mediachase.Licensing" connectionStringName="EcfSqlConnection" tableName="" createTable="True"/>
			</providers>
		</licenseProvider>
	</mediachase.license>
	<connectionStrings configSource="connectionStrings.config"/>
</configuration>