<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Mediachase.Commerce.Properties.Settings.ECF50_BETAConnectionString"
            connectionString="Data Source=(local);Initial Catalog=ECF50_BETA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Mediachase.Commerce.Properties.Settings.ECF50_DEV_MAINConnectionString"
            connectionString="Data Source=MCC-VIRTUAL;Initial Catalog=ECF50_DEV_MAIN;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>