<?xml version="1.0"?>
<Catalog autoConfigure="true">
	<Connection connectionStringName="EcfSqlConnection"/>
	<Cache enabled="true" collectionTimeout="0:1:0" entryTimeout="0:1:0" nodeTimeout="0:1:0" schemaTimeout="0:2:0"/>
	<Encoding imageQualityPercentage="80" defaultFormat="jPeg"/>
	<Roles>
		<add name="CatalogAdminRole" value="Catalog Admins" />
		<add name="CatalogManagerRole" value="Catalog Managers" />
		<add name="CatalogSchemaManagerRole" value="Catalog Schema Managers" />
		<add name="CatalogViewerRole" value="Catalog Viewers" />
	</Roles>
	<!-- Sale Price Types -->
	<SalePriceTypes>
		<add key="AllCustomers" value="0" description="All Customers" />
		<add key="Customer" value="1" description="Customer"/>
		<add key="CustomerPriceGroup" value="2" description="Customer Price Group"/>
		<add key="BusinessPartnerState" value="3" description="Business Partner State" />
		<add key="BusinessPartnerID" value="4" description="Business Partner ID" />
		<!-- Add custom types here -->
		<!--
    <add key="JurisdictionGroup" value="3" description="Jurisdiction Group"/>
    -->
	</SalePriceTypes>
</Catalog>
