<?xml version="1.0"?>
<Application defaultApplicationName="eCommerceFramework">
	<Roles>
		<add name="AdminRole" value="Admins" />
		<add name="ManagerUserRole" value="Management Users" />
		<add name="EveryoneRole" value="Everyone" />
		<add name="RegisteredRole" value="Registered" />
	</Roles>
	<Connection connectionStringName="EcfSqlConnection"/>
	<Cache enabled="true" appTimeout="0:0:10"/>
</Application>
