<?xml version="1.0"?>
<profileDownload>
	<add name="iis" type="Mediachase.Ibn.Blob.BlobProfileDownload.IISAccesProfile, Mediachase.Ibn.Blob" virtualPath="/FileLibrary"/>
	<add name="open" type="Mediachase.Ibn.Blob.BlobProfileDownload.GetAccessProfile, Mediachase.Ibn.Blob" virtualPath="/FileLibrary"/>
	<add name="forceDownload" type="Mediachase.Ibn.Blob.BlobProfileDownload.GetOpenAccessProfile, Mediachase.Ibn.Blob"/>
	<add name="webDav" type="Mediachase.Ibn.Blob.BlobProfileDownload.WebDavAccessProfile, Mediachase.Ibn.Blob"/>
	<add name="s3" type="Mediachase.Library.AmazonProviders.S3DownloadProfile, Mediachase.Library.AmazonProviders" authEnable="true"/>
</profileDownload>
