.admin-toolbar-item
{
  border:none;
  padding:2px;
  font-family:Verdana;
  color:black;
  cursor:default;
}
.admin-toolbar-item-hover
{
  border:solid 1px #0A246A;
  padding:1px;
  background-color:#B6BDD2;
  background-image:none;
  font-family:Verdana;
  color:black;
  cursor:default; 
}

.admin-toolbar-item-checked
{
  border:solid 1px #0A246A;
  padding:1px;
  background-color:#B6BDD2;
  background-image:none;
  font-family:Verdana;
  color:black;
  cursor:default; 
}



.admin-toolbar-comboBox 
{ 
  border: 1px solid #A6A7AA; 
  background-color: white; 
}

.admin-toolbar-comboBoxHover
{ 
  border: 1px solid #555555; 
  background-color: white; 
}

.admin-toolbar-comboDropDown 
{ 
  border: 1px solid #868686; 
  background-color: white; 
  padding: 1px;
  padding-right: 0px;
  cursor: default;
}
