
.btnMinimize
{
    width: 16px;
    background-image: url(../images/Toolbar/minimizeActive.gif);
}


.btnMinimizeNavBar
{
    width: 16px;
    background-image: url(../images/Toolbar/minimizeActiveDark.gif);
}
 


.dragbar
{
    
    height:20px;
	
	background-color:#aca899;
	cursor:pointer; 

	font-size: 10px;
	font-family: Verdana;
	font-weight: bold;
    color:white
   
}

.mainTable
{
    background-color:#efedde;
    padding:1px;
	width:250px;/*187*/ 
	border: 1px solid #928f82; 
	
}

.mainToolbox
{
    background-color:#efedde;
    padding:1px;
	width:187px;/*187*/ 
	border: 1px solid #928f82; 
	
}
/*
.content
{
width:100%;
background-color:#FFFFFF;
padding:0px;	
font-size: 10px;
font-family: Verdana;
}
*/
.NavBarInner
{ 
  /*background-color: red; */

  cursor: default; 
} 

.Level1Item
{

 background-image: url(../images/Toolbar/bg_vertical.jpg);
	background-repeat: repeat-x;
	font-size: 10px;
	font-family: Verdana;
  width:189px;
  cursor:hand;
}

.Level2Item
{
  background-color:#f1ede7;

 text-align:left;
   padding:10px;
 /*border: 1px #f1ede7 solid;
  width:189px;*/
}

.Content
{
  background-color:#f1ede7;
  font-size: 10px;
  font-family : Verdana;
  text-align:left;
  padding:0px;

}

.tBarFirstRow
{
    background-image: url(../images/Toolbar/bg_vertical_30px.jpg);
    background-repeat : repeat-x;
	font-size: 10px;
	font-family: Verdana; 
}