<?xml version="1.0"?>
<Configuration version="5.0">
  <Acl>
    <Group id="mng" text="{SharedStrings:Manage}">
      <Permission id="view" text="{SharedStrings:View}"></Permission>
      <Permission id="create" text="{SharedStrings:Create}"></Permission>
      <Permission id="edit" text="{SharedStrings:Edit}"></Permission>
      <Permission id="delete" text="{SharedStrings:Delete}"></Permission>
      <Permission id="notify" text="{SharedStrings:Send_Notifications}"></Permission>
      <Permission id="payments" text="{SharedStrings:Process_Payments}"></Permission>
    </Group>
    <Group id="admin" text="{SharedStrings:Administration}">
      <Group id="payments" text="{SharedStrings:Payments}">
        <Group id="mng" text="{SharedStrings:Manage}">
          <Permission id="view" text="{SharedStrings:View}"></Permission>
          <Permission id="create" text="{SharedStrings:Create}"></Permission>
          <Permission id="edit" text="{SharedStrings:Edit}"></Permission>
          <Permission id="delete" text="{SharedStrings:Delete}"></Permission>
        </Group>
      </Group>
      <Group id="shipping" text="{SharedStrings:Shipping}">
        <Group id="jur" text="{OrderStrings:Jurisdictions}">
          <Group id="mng" text="{SharedStrings:Manage}">
            <Permission id="view" text="{SharedStrings:View}"></Permission>
            <Permission id="create" text="{SharedStrings:Create}"></Permission>
            <Permission id="edit" text="{SharedStrings:Edit}"></Permission>
            <Permission id="delete" text="{SharedStrings:Delete}"></Permission>
          </Group>
        </Group>
        <Group id="providers" text="{SharedStrings:Providers}">
          <Group id="mng" text="{SharedStrings:Manage}">
            <Permission id="view" text="{SharedStrings:View}"></Permission>
            <Permission id="create" text="{SharedStrings:Create}"></Permission>
            <Permission id="edit" text="{SharedStrings:Edit}"></Permission>
            <Permission id="delete" text="{SharedStrings:Delete}"></Permission>
          </Group>
        </Group>
        <Group id="packages" text="{SharedStrings:Packages}">
          <Group id="mng" text="{SharedStrings:Manage}">
            <Permission id="view" text="{SharedStrings:View}"></Permission>
            <Permission id="create" text="{SharedStrings:Create}"></Permission>
            <Permission id="edit" text="{SharedStrings:Edit}"></Permission>
            <Permission id="delete" text="{SharedStrings:Delete}"></Permission>
          </Group>
        </Group>
        <Group id="methods" text="{SharedStrings:Methods}">
          <Group id="mng" text="{SharedStrings:Manage}">
            <Permission id="view" text="{SharedStrings:View}"></Permission>
            <Permission id="create" text="{SharedStrings:Create}"></Permission>
            <Permission id="edit" text="{SharedStrings:Edit}"></Permission>
            <Permission id="delete" text="{SharedStrings:Delete}"></Permission>
          </Group>
        </Group>
      </Group>
      <Group id="taxes" text="{SharedStrings:Taxes}">
        <Group id="mng" text="{SharedStrings:Manage}">
          <Permission id="view" text="{SharedStrings:View}"></Permission>
          <Permission id="create" text="{SharedStrings:Create}"></Permission>
          <Permission id="edit" text="{SharedStrings:Edit}"></Permission>
          <Permission id="delete" text="{SharedStrings:Delete}"></Permission>
          <Permission id="import" text="{SharedStrings:Import}"></Permission>
        </Group>
      </Group>
      <Group id="meta" text="{SharedStrings:Meta_Data}">
        <Group id="cls" text="{SharedStrings:Classes}">
          <Group id="mng" text="{SharedStrings:Manage}">
            <Permission id="view" text="{SharedStrings:View}"></Permission>
            <Permission id="create" text="{SharedStrings:Create}"></Permission>
            <Permission id="edit" text="{SharedStrings:Edit}"></Permission>
            <Permission id="delete" text="{SharedStrings:Delete}"></Permission>
          </Group>
        </Group>
        <Group id="fld" text="{SharedStrings:Fields}">
          <Group id="mng" text="{SharedStrings:Manage}">
            <Permission id="view" text="{SharedStrings:View}"></Permission>
            <Permission id="create" text="{SharedStrings:Create}"></Permission>
            <Permission id="edit" text="{SharedStrings:Edit}"></Permission>
            <Permission id="delete" text="{SharedStrings:Delete}"></Permission>
          </Group>
        </Group>
      </Group>
    </Group>
  </Acl>
  <Views>
    <View id="Orders-List" name="{OrderStrings:Order_List}" isNameDynamic="true" controlUrl="Order/OrderList.ascx" permissions="order:mng:view">
      <Columns>
        <Column ColumnType="CheckBox"/>
        <Column Width="50" AllowSorting="true" DataField="OrderGroupId"  HeadingText="{SharedStrings:ID}" ColumnType="CustomTemplate" permissions="order:mng:edit">
          <Template id="LinkTemplate" ControlUrl="GridTemplates/OrderLinkTemplate.ascx" permissions="order:mng:edit"></Template>
        </Column>
        <!--
				<Column HeadingText="{SharedStrings:ID}" id="id" Width="50" ColumnType="HyperLink" AllowSorting="true" DataNavigateUrlFields="OrderGroupId,CustomerId" DataNavigateUrlFormatString="javascript:CSOrderClient.ViewOrder({0},'{1}');" DataTextFields="OrderGroupId" DataTextFormatString="{0}" DataField="OrderGroupId"></Column>
				-->
        <Column Width="200" AllowSorting="true" DataField="CustomerName" HeadingText="{SharedStrings:Customer}"></Column>
        <Column Width="100" AllowSorting="true" DataField="Total" HeadingText="{SharedStrings:Total}" FormatString="{0:F2}"></Column>
        <Column Width="100" AllowSorting="true" DataField="Status" HeadingText="{SharedStrings:Status}"></Column>
        <Column Width="200" ColumnType="DateTime" AllowSorting="false" DataField="Modified" HeadingText="{SharedStrings:Last_Modified}"></Column>
        <!--
				<Column DataCellServerTemplateId="CurrencyTemplate" AllowSorting="true" DataField="Total" HeadingText="{SharedStrings:Total}">
					<Template id="CurrencyTemplate" DataArgument="Total" CurrencyArgument="BillingCurrency" FormatString="{0}" ControlUrl="~/Apps/Core/Controls/GridTemplates/CurrencyTemplate.ascx"></Template>
				</Column>
				-->
      </Columns>
    </View>

    <View id="OrderSearch-List" name="{OrderStrings:Order_Search}" controlUrl="Order/OrderSearch.ascx" permissions="order:mng:view">
      <Columns>
        <Column ColumnType="CheckBox"/>
        <Column Width="50" AllowSorting="true" DataField="OrderGroupId"  HeadingText="{SharedStrings:ID}" ColumnType="CustomTemplate">
          <Template id="LinkTemplate" ControlUrl="GridTemplates/OrderLinkTemplate.ascx"></Template>
        </Column>
        <Column Width="200" AllowSorting="true" DataField="CustomerName" HeadingText="{SharedStrings:Customer}"></Column>
        <Column Width="100" AllowSorting="true" DataField="Total" HeadingText="{SharedStrings:Total}"></Column>
        <Column Width="100" AllowSorting="true" DataField="Status" HeadingText="{SharedStrings:Status}"></Column>
        <Column Width="200" ColumnType="DateTime" AllowSorting="false" DataField="Modified" HeadingText="{SharedStrings:Last_Modified}"></Column>
      </Columns>
    </View>

    <View id="PurchaseOrder-View" name="{OrderStrings:Order_View}" controlUrl="order/OrderView.ascx" permissions="order:mng:view">
      <Tabs>
        <Tab Name="{SharedStrings:Line_Items}" ControlUrl="order/tabs/LineItemsEditTab.ascx"></Tab>
        <Tab Name="{SharedStrings:Payments}" ControlUrl="order/tabs/OrderPaymentsEditTab.ascx"></Tab>
        <Tab Name="{SharedStrings:Addresses}" ControlUrl="order/tabs/AddressesEditTab.ascx"></Tab>
        <Tab Name="{SharedStrings:Shipments}" ControlUrl="order/tabs/OrderShipmentsEditTab.ascx"></Tab>
      </Tabs>
    </View>
    <View id="PaymentPlan-View" name="{SharedStrings:Payment_Plan_View}" controlUrl="order/OrderView.ascx" permissions="order:mng:view">
      <Tabs>
        <Tab Name="{SharedStrings:Line_Items}" ControlUrl="order/tabs/LineItemsEditTab.ascx"></Tab>
        <Tab Name="{SharedStrings:Payments}" ControlUrl="order/tabs/OrderPaymentsEditTab.ascx"></Tab>
        <Tab Name="{SharedStrings:Addresses}" ControlUrl="order/tabs/AddressesEditTab.ascx"></Tab>
        <Tab Name="{SharedStrings:Shipments}" ControlUrl="order/tabs/OrderShipmentsEditTab.ascx"></Tab>
      </Tabs>
    </View>
    <View id="ShoppingCart-View" name="{SharedStrings:Cart_View}" controlUrl="order/OrderView.ascx" permissions="order:mng:view">
      <Tabs>
        <Tab Name="{SharedStrings:Line_Items}" ControlUrl="order/tabs/LineItemsEditTab.ascx"></Tab>
        <Tab Name="{SharedStrings:Payments}" ControlUrl="order/tabs/OrderPaymentsEditTab.ascx"></Tab>
        <Tab Name="{SharedStrings:Addresses}" ControlUrl="order/tabs/AddressesEditTab.ascx"></Tab>
        <Tab Name="{SharedStrings:Shipments}" ControlUrl="order/tabs/OrderShipmentsEditTab.ascx"></Tab>
      </Tabs>
    </View>

    <View id="PurchaseOrder-New" name="{SharedStrings:Purchase_Order_New}" controlUrl="order/OrderView.ascx" permissions="order:mng:create">
      <Tabs>
        <Tab Name="{SharedStrings:Line_Items}" ControlUrl="order/tabs/LineItemsEditTab.ascx"></Tab>
        <Tab Name="{SharedStrings:Payments}" ControlUrl="order/tabs/OrderPaymentsEditTab.ascx"></Tab>
        <Tab Name="{SharedStrings:Addresses}" ControlUrl="order/tabs/AddressesEditTab.ascx"></Tab>
      </Tabs>
    </View>

    <View id="PaymentPlan-New" name="{SharedStrings:Payment_Plan_New}" controlUrl="order/OrderView.ascx" permissions="order:mng:create">
      <Tabs>
        <Tab Name="{SharedStrings:Line_Items}" ControlUrl="order/tabs/LineItemsEditTab.ascx"></Tab>
        <Tab Name="{SharedStrings:Payments}" ControlUrl="order/tabs/OrderPaymentsEditTab.ascx"></Tab>
        <Tab Name="{SharedStrings:Addresses}" ControlUrl="order/tabs/AddressesEditTab.ascx"></Tab>
      </Tabs>
    </View>

    <View id="ShoppingCart-New" name="{SharedStrings:Shopping_Cart_New}" controlUrl="order/OrderView.ascx" permissions="order:mng:create">
      <Tabs>
        <Tab Name="{SharedStrings:Line_Items}" ControlUrl="order/tabs/LineItemsEditTab.ascx"></Tab>
        <Tab Name="{SharedStrings:Payments}" ControlUrl="order/tabs/OrderPaymentsEditTab.ascx"></Tab>
        <Tab Name="{SharedStrings:Addresses}" ControlUrl="order/tabs/AddressesEditTab.ascx"></Tab>
      </Tabs>
    </View>

    <!-- ComponentArt Grid -->
    <View id="LineItems" name="{SharedStrings:Line_Items}" controlUrl="">
      <Columns>
        <Column IsDefault="true" HeadingText="{SharedStrings:Edit_Command}" DataCellClientTemplateId="EditTemplate" EditControlType="EditCommand" Width="100" Align="Center"/>
        <Column IsDefault="true" Visible="false" IsSearchable="true" AllowSorting="true" DataField="LineItemId" HeadingText="{SharedStrings:LineItemId}"></Column>
        <Column IsDefault="true" Width="150" Visible="true" AllowEditing="false" IsSearchable="true" AllowSorting="true" DataField="CatalogEntryId" HeadingText="{SharedStrings:ID}"></Column>
        <Column IsDefault="true" Width="400" Visible="true" IsSearchable="true" AllowSorting="true" DataField="DisplayName" HeadingText="{SharedStrings:Name}"></Column>
        <Column IsDefault="true" Width="60" Visible="true" IsSearchable="true" AllowSorting="true" DataField="Quantity" HeadingText="{SharedStrings:Quantity}"></Column>
        <Column IsDefault="true" Width="70" Visible="true" IsSearchable="true" AllowSorting="true" DataField="ListPrice" HeadingText="{SharedStrings:List_Price}" FormatString="#0.00"></Column>
        <Column IsDefault="true" Width="70" Visible="true" AllowEditing="false"  IsSearchable="true" AllowSorting="true" DataField="ExtendedPrice" HeadingText="{SharedStrings:Total}" FormatString="#0.00"></Column>
      </Columns>
    </View>

    <!-- ComponentArt Grid -->
    <View id="Payments" name="{SharedStrings:Payments}" controlUrl="">
      <Columns>
        <Column IsDefault="true" HeadingText="{SharedStrings:Edit_Command}" DataCellClientTemplateId="EditTemplate" EditControlType="EditCommand" Width="100" Align="Center"/>
        <Column IsDefault="true" Visible="false" IsSearchable="true" AllowSorting="true" DataField="PaymentId" HeadingText="{SharedStrings:PaymentId}"></Column>
        <Column IsDefault="true" Visible="true" IsSearchable="true" AllowSorting="true" DataField="PaymentMethodName" HeadingText="{SharedStrings:Name}"></Column>
        <Column IsDefault="true" Width="100" Visible="true" IsSearchable="true" AllowSorting="true" DataField="Amount" HeadingText="{SharedStrings:Amount}" FormatString="#0.00"></Column>
        <Column IsDefault="true" Width="100" Visible="true" IsSearchable="true" AllowSorting="true" DataField="Status" HeadingText="{SharedStrings:Status}"></Column>
      </Columns>
    </View>

    <!-- ComponentArt Grid -->
    <View id="Addresses" name="{SharedStrings:Addresses}" controlUrl="">
      <Columns>
        <Column IsDefault="true" HeadingText="{SharedStrings:Edit_Command}" DataCellClientTemplateId="EditTemplate" EditControlType="EditCommand" Width="100" Align="Center"/>
        <Column IsDefault="true" Visible="false" IsSearchable="true" AllowSorting="true" DataField="OrderGroupAddressId" HeadingText="{OrderStrings:OrderGroupAddressId}"></Column>
        <Column IsDefault="true" Visible="true" IsSearchable="true" AllowSorting="true" DataField="Name" HeadingText="{SharedStrings:Name}"></Column>
      </Columns>
    </View>

    <!-- ComponentArt Grid -->
    <View id="Shipments" name="{SharedStrings:Shipments}" controlUrl="">
      <Columns>
        <Column IsDefault="true" HeadingText="{SharedStrings:Edit_Command}" DataCellClientTemplateId="EditTemplate" EditControlType="EditCommand" Width="100" Align="Center"/>
        <Column IsDefault="true" Visible="false" IsSearchable="true" AllowSorting="true" DataField="ShipmentId" HeadingText="{SharedStrings:Id}"></Column>
        <Column IsDefault="true" Visible="true" IsSearchable="true" AllowSorting="true" DataField="ShippingMethodName" HeadingText="{SharedStrings:Name}"></Column>
        <Column IsDefault="true" Width="100" Visible="true" IsSearchable="true" AllowSorting="true" DataField="ShipmentTotal" HeadingText="{SharedStrings:Amount}" FormatString="#0.00"></Column>
        <Column IsDefault="true" Width="100" Visible="true" IsSearchable="true" AllowSorting="true" DataField="Status" HeadingText="{SharedStrings:Status}"></Column>
      </Columns>
    </View>

    <View id="View-LineItem" name="{OrderStrings:Order_View_LineItem}" controlUrl="order/Tabs/LineItemEditPopup.ascx"></View>
    <View id="View-Payment" name="{OrderStrings:Order_View_Payment}" controlUrl="order/Tabs/OrderPaymentEditTab.ascx"></View>
    <View id="View-Address" name="{OrderStrings:Order_View_Address}" controlUrl="order/Tabs/AddressEditTab.ascx"></View>
    <View id="View-Shipment" name="{OrderStrings:Order_View_Shipment}" controlUrl="order/Tabs/OrderShipmentEditTab.ascx"></View>

    <!-- Meta Data Admin Views-->
    <View id="MetaClass-List" name="{SharedStrings:Meta_Classes}" controlUrl="Order/MetaClassList.ascx" >
    </View>

    <View id="MetaClass-Edit" name="{SharedStrings:Meta_Class_Edit}" controlUrl="Order/MetaClassEdit.ascx">
      <Transitions>
        <!-- !!! Transition attributes don't need to be localized !!! -->
        <Transition name="List" ViewId="MetaClass-List"></Transition>
      </Transitions>
    </View>

    <View id="MetaFields-List" name="{SharedStrings:Meta_Fields}" controlUrl="Order/MetaFieldList.ascx">
      <!-- Columns map columns to grid column which will be automatically created -->
      <Columns>
        <Column Width="70" AllowSorting="false" DataField="Id" HeadingText="{SharedStrings:ID}"></Column>
        <Column Width="400" AllowSorting="false" DataField="Name" HeadingText="{SharedStrings:Name}" id="Name" ColumnType="HyperLink" DataNavigateUrlFields="Id" DataNavigateUrlFormatString="javascript:CSManagementClient.ChangeView('Order', 'MetaField-Edit','id={0}&amp;namespace=Mediachase.Commerce.Orders&amp;fieldnamespace=Mediachase.Commerce.Orders.System');" DataTextFields="Name" DataTextFormatString="{0}"></Column>
        <Column Width="200" AllowSorting="false" DataField="FriendlyName" HeadingText="{SharedStrings:Friendly_Name}"></Column>
      </Columns>
    </View>

    <View id="MetaField-Edit" name="{SharedStrings:Meta_Field_Edit}" controlUrl="Order/MetaFieldEdit.ascx">
      <Transitions>
        <!-- !!! Transition attributes don't need to be localized !!! -->
        <Transition name="List" ViewId="MetaFields-List"></Transition>
      </Transitions>
    </View>

    <View id="MetaField-New" name="{SharedStrings:Meta_Field_Edit}" controlUrl="Order/MetaFieldEdit.ascx">
      <Transitions>
        <!-- !!! Transition attributes don't need to be localized !!! -->
        <Transition name="List" ViewId="MetaFields-List"></Transition>
      </Transitions>
    </View>

    <!-- START: Export/Import Meta data -->
    <View id="MetaData-Export" name="{SharedStrings:Export_Meta_Data}" controlUrl="Core/MetaData/Admin/MetaDataExport.ascx">
    </View>
    <View id="MetaData-Import" name="{SharedStrings:Import_Meta_Data}" controlUrl="Core/MetaData/Admin/MetaDataImport.ascx">
      <Tabs>
        <Tab Name="{SharedStrings:Import}" ControlUrl="Core/MetaData/Admin/Tabs/MetaDataImportTab.ascx"></Tab>
      </Tabs>
    </View>
    <!-- END: Export/Import Meta data -->

    <!-- /Meta Data Admin Views-->

    <!-- START: Payment Gateways -->
    <View id="PaymentMethods-List" name="{SharedStrings:Payment_Methods}" controlUrl="Order/Payments/PaymentMethods.ascx" permissions="order:admin:payments:mng:view">
      <Columns>
        <Column ColumnType="CheckBox" />
        <Column Visible="false" AllowSorting="false" DataField="PaymentMethodId" HeadingText=""></Column>
        <Column Visible="false" AllowSorting="false" DataField="LanguageId" HeadingText=""></Column>
        <Column Width="40" DataField="PaymentMethodId" HeadingText="" ColumnType="Action">
          <Item ImageUrl="~/App_Themes/Default/Images/edit.gif" CommandName="cmdOrderGridPaymentMethodEdit" CommandParameters="PaymentMethodId,LanguageId" ToolTip="Edit" permissions="order:admin:payments:mng:edit"></Item>
          <Item ImageUrl="~/App_Themes/Main/Images/toolbar/delete.gif" CommandName="cmdOrderGridPaymentMethodDelete" CommandParameters="PaymentMethodId,LanguageId" ToolTip="Delete" permissions="order:admin:payments:mng:delete"></Item>
        </Column>
        <Column Width="250" AllowSorting="true" DataField="Name" HeadingText="{SharedStrings:Name}" id="Name" ColumnType="HyperLink" DataNavigateUrlFields="PaymentMethodId,LanguageId" DataNavigateUrlFormatString="javascript:CSOrderClient.EditPaymentMethod('{0}', '{1}');" DataTextFields="Name" DataTextFormatString="{0}"></Column>
        <Column Width="50" AllowSorting="true" DataField="IsActive" HeadingText="{SharedStrings:IsActive}"></Column>
        <Column Width="60" AllowSorting="true" DataField="IsDefault" HeadingText="{SharedStrings:IsDefault}"></Column>
        <Column Width="60" AllowSorting="true" DataField="Ordering" HeadingText="{SharedStrings:Ordering}"></Column>
        <Column Width="150" ColumnType="DateTime" AllowSorting="true" DataField="Created" HeadingText="{SharedStrings:Created}"></Column>
        <Column Width="150" ColumnType="DateTime" AllowSorting="true" DataField="Modified" HeadingText="{SharedStrings:Last_Modified}"></Column>
      </Columns>
    </View>

    <View id="PaymentMethod-Edit" name="{OrderStrings:Payment_Method_Edit}" controlUrl="Order/Payments/PaymentMethodEdit.ascx">
      <Tabs>
        <Tab Name="{SharedStrings:Overview}" ControlUrl="Order/Payments/Tabs/PaymentMethodEditBaseTab.ascx"></Tab>
        <Tab Name="{SharedStrings:Parameters}" ControlUrl="Order/Payments/Tabs/PaymentMethodEditParameters.ascx"></Tab>
      </Tabs>
    </View>
    <!-- END: Payment Gateways -->

    <!-- START: Shipping Gateways -->
    <View id="ShippingOptions-List" name="{SharedStrings:Shipping_Providers}" controlUrl="Order/Shipping/ShippingOptions.ascx" permissions="order:admin:shipping:providers:mng:view">
      <Columns>
        <Column ColumnType="CheckBox"/>
        <Column Visible="false" AllowSorting="false" DataField="ShippingOptionId" HeadingText=""></Column>
        <Column Width="40" DataField="ShippingOptionId" HeadingText="" ColumnType="Action">
          <Item ImageUrl="~/App_Themes/Default/Images/edit.gif" CommandName="cmdOrderGridShippingOptionEdit" CommandParameters="ShippingOptionId" ToolTip="Edit" permissions="order:admin:shipping:providers:mng:edit"></Item>
          <Item ImageUrl="~/App_Themes/Main/Images/toolbar/delete.gif" CommandName="cmdOrderGridShippingOptionDelete" CommandParameters="ShippingOptionId" ToolTip="Delete" permissions="order:admin:shipping:providers:mng:delete"></Item>
        </Column>
        <Column Width="250" AllowSorting="true" DataField="Name" HeadingText="{SharedStrings:Name}" id="Name" ColumnType="HyperLink" DataNavigateUrlFields="ShippingOptionId" DataNavigateUrlFormatString="javascript:CSOrderClient.EditShippingOption('{0}');" DataTextFields="Name" DataTextFormatString="{0}" permissions="order:admin:shipping:providers:mng:edit"></Column>
        <Column Width="150" AllowSorting="true" DataField="SystemKeyword" HeadingText="{SharedStrings:System_Name}"></Column>
        <Column Width="150" ColumnType="DateTime" AllowSorting="true" DataField="Created" HeadingText="{SharedStrings:Created}"></Column>
        <Column Width="150" ColumnType="DateTime" AllowSorting="true" DataField="Modified" HeadingText="{SharedStrings:Last_Modified}"></Column>
      </Columns>
    </View>

    <View id="ShippingOption-Edit" name="{OrderStrings:Shipping_Provider_Edit}" controlUrl="Order/Shipping/ShippingOptionEdit.ascx">
      <Tabs>
        <Tab Name="{SharedStrings:Overview}" ControlUrl="Order/Shipping/Tabs/ShippingOptionEditBaseTab.ascx"></Tab>
        <Tab Name="{SharedStrings:Parameters}" ControlUrl="Order/Shipping/Tabs/ShippingOptionEditParameters.ascx"></Tab>
        <Tab Name="{SharedStrings:Packages}" ControlUrl="Order/Shipping/Tabs/ShippingOptionEditPackages.ascx"></Tab>
      </Tabs>
    </View>

    <View id="ShippingMethodLanguage-List" name="{SharedStrings:Shipping_Methods}" controlUrl="Order/Shipping/ShippingMethods.ascx" permissions="order:admin:shipping:methods:mng:view">
      <Columns>
        <Column ColumnType="CheckBox"/>
        <Column Visible="false" AllowSorting="false" DataField="ShippingMethodId" HeadingText=""></Column>
        <Column Visible="false" AllowSorting="false" DataField="LanguageId" HeadingText=""></Column>
        <Column Width="40" DataField="ShippingMethodId" HeadingText="" ColumnType="Action">
          <Item ImageUrl="~/App_Themes/Default/Images/edit.gif" CommandName="cmdOrderGridShippingMethodEdit" CommandParameters="ShippingMethodId,LanguageId" ToolTip="Edit" permissions="order:admin:shipping:methods:mng:edit"></Item>
          <Item ImageUrl="~/App_Themes/Main/Images/toolbar/delete.gif" CommandName="cmdOrderGridShippingMethodDelete" CommandParameters="ShippingMethodId,LanguageId" ToolTip="Delete" permissions="order:admin:shipping:methods:mng:delete"></Item>
        </Column>
        <Column Width="200" AllowSorting="true" DataField="Name" HeadingText="{SharedStrings:Name}" id="Name" ColumnType="HyperLink" DataNavigateUrlFields="ShippingMethodId,LanguageId" DataNavigateUrlFormatString="javascript:CSOrderClient.EditShippingMethod('{0}', '{1}');" DataTextFields="Name" DataTextFormatString="{0}" permissions="order:admin:shipping:methods:mng:edit"></Column>
        <Column Width="250" AllowSorting="true" DataField="DisplayName" HeadingText="{SharedStrings:Display_Name}"></Column>
        <Column Width="50" AllowSorting="true" DataField="IsActive" HeadingText="{SharedStrings:IsActive}"></Column>
        <Column Width="60" AllowSorting="true" DataField="IsDefault" HeadingText="{SharedStrings:IsDefault}"></Column>
        <Column Width="60" AllowSorting="true" DataField="Ordering" HeadingText="{SharedStrings:Ordering}"></Column>
        <Column Width="150" ColumnType="DateTime" AllowSorting="true" DataField="Created" HeadingText="{SharedStrings:Created}"></Column>
        <Column Width="150" ColumnType="DateTime" AllowSorting="true" DataField="Modified" HeadingText="{SharedStrings:Last_Modified}"></Column>
      </Columns>
    </View>

    <View id="ShippingMethod-Edit" name="{OrderStrings:Shipping_Method_Edit}" controlUrl="Order/Shipping/ShippingMethodEdit.ascx" permissions="order:admin:shipping:methods:mng:edit">
      <Tabs>
        <Tab Name="{SharedStrings:Overview}" ControlUrl="Order/Shipping/Tabs/ShippingMethodEditBaseTab.ascx"></Tab>
        <Tab Name="{SharedStrings:Settings}" ControlUrl="Order/Shipping/Tabs/ShippingMethodEditSettings.ascx"></Tab>
        <Tab Name="{SharedStrings:Parameters}" ControlUrl="Order/Shipping/Tabs/ShippingMethodEditParameters.ascx"></Tab>
      </Tabs>
    </View>

    <View id="Packages-List" name="{SharedStrings:Shipping_Packages}" controlUrl="Order/Shipping/Packages.ascx" permissions="order:admin:shipping:packages:mng:view">
      <Columns>
        <Column ColumnType="CheckBox"/>
        <Column Visible="false" AllowSorting="false" DataField="PackageId" HeadingText=""></Column>
        <Column Width="40" HeadingText="" ColumnType="Action" DataField="PackageId">
          <Item ImageUrl="~/App_Themes/Default/Images/edit.gif" CommandName="cmdOrderGridPackageEdit" CommandParameters="PackageId" ToolTip="Edit" permissions="order:admin:shipping:packages:mng:edit"></Item>
          <Item ImageUrl="~/App_Themes/Main/Images/toolbar/delete.gif" CommandName="cmdOrderGridPackageDelete" CommandParameters="PackageId" ToolTip="Delete" permissions="order:admin:shipping:packages:mng:delete"></Item>
        </Column>
        <Column Width="250" AllowSorting="true" DataField="Name" HeadingText="{SharedStrings:Name}" id="Name" ColumnType="HyperLink" DataNavigateUrlFields="PackageId" DataNavigateUrlFormatString="javascript:CSManagementClient.ChangeView('Order', 'Package-Edit','PackageId={0}');" DataTextFields="Name" DataTextFormatString="{0}" permissions="order:admin:shipping:packages:mng:edit"></Column>
        <Column Width="450" AllowSorting="true" DataField="Description" HeadingText="{SharedStrings:Description}"></Column>
      </Columns>
    </View>

    <View id="Package-Edit" name="{OrderStrings:Shipping_Package_Edit}" controlUrl="Order/Shipping/PackageEdit.ascx">
      <Tabs>
        <Tab Name="{SharedStrings:Overview}" ControlUrl="Order/Shipping/Tabs/PackageEditBaseTab.ascx"></Tab>
      </Tabs>
    </View>
    <!-- END: Shipping Gateways -->

    <!-- BEGIN: Jurisdictions -->

    <View id="Jurisdictions-List" name="{OrderStrings:Jurisdictions}" controlUrl="Order/Jurisdictions.ascx">
      <Columns>
        <Column ColumnType="CheckBox"/>
        <Column Visible="false" AllowSorting="false" DataField="JurisdictionId" HeadingText=""></Column>
        <Column Width="40" HeadingText="" ColumnType="Action" DataField="JurisdictionGroupId">
          <Item ImageUrl="~/App_Themes/Default/Images/edit.gif" CommandName="cmdOrderGridJurisdictionEdit" CommandParameters="JurisdictionId,JurisdictionType" ToolTip="Edit"></Item>
          <Item ImageUrl="~/App_Themes/Main/Images/toolbar/delete.gif" CommandName="cmdOrderGridJurisdictionDelete" CommandParameters="JurisdictionId" ToolTip="Delete" ></Item>
        </Column>
        <Column Width="250" AllowSorting="true" DataField="DisplayName" HeadingText="{SharedStrings:Name}" id="DisplayName" ColumnType="HyperLink" DataNavigateUrlFields="JurisdictionId,JurisdictionType" DataNavigateUrlFormatString="javascript:CSOrderClient.EditJurisdiction('{0}', '{1}');" DataTextFields="DisplayName" DataTextFormatString="{0}"></Column>
        <Column Width="450" AllowSorting="true" DataField="Code" HeadingText="{SharedStrings:Code}"></Column>
      </Columns>
    </View>

    <View id="Jurisdiction-Edit" name="{OrderStrings:Jurisdiction_Edit}" controlUrl="Order/JurisdictionEdit.ascx">
      <Tabs>
        <Tab Name="{SharedStrings:Overview}" ControlUrl="Order/Tabs/JurisdictionEditTab.ascx"></Tab>
      </Tabs>
    </View>

    <View id="JurisdictionGroups-List" name="{OrderStrings:Jurisdiction_Groups}" controlUrl="Order/JurisdictionGroups.ascx">
      <Columns>
        <Column ColumnType="CheckBox"/>
        <Column Visible="false" AllowSorting="false" DataField="JurisdictionGroupId" HeadingText=""></Column>
        <Column Width="40" HeadingText="" ColumnType="Action" DataField="JurisdictionGroupId">
          <Item ImageUrl="~/App_Themes/Default/Images/edit.gif" CommandName="cmdOrderGridJurisdictionGroupEdit" CommandParameters="JurisdictionGroupId,JurisdictionType" ToolTip="Edit"></Item>
          <Item ImageUrl="~/App_Themes/Main/Images/toolbar/delete.gif" CommandName="cmdOrderGridJurisdictionGroupDelete" CommandParameters="JurisdictionGroupId" ToolTip="Delete"></Item>
        </Column>
        <Column Width="250" AllowSorting="true" DataField="DisplayName" HeadingText="{SharedStrings:Name}" id="DisplayName" ColumnType="HyperLink" DataNavigateUrlFields="JurisdictionGroupId,JurisdictionType" DataNavigateUrlFormatString="javascript:CSOrderClient.EditJurisdictionGroup('{0}', '{1}');" DataTextFields="DisplayName" DataTextFormatString="{0}"></Column>
        <Column Width="450" AllowSorting="true" DataField="Code" HeadingText="{SharedStrings:Code}"></Column>
      </Columns>
    </View>

    <View id="JurisdictionGroup-Edit" name="{OrderStrings:Jurisdiction_Groups_Edit}" controlUrl="Order/JurisdictionGroupEdit.ascx">
      <Tabs>
        <Tab Name="{SharedStrings:Overview}" ControlUrl="Order/Tabs/JurisdictionGroupEditTab.ascx"></Tab>
      </Tabs>
    </View>

    <!-- END: Jurisdictions -->

    <!-- BEGIN: Tax -->
    <View id="Taxes-List" name="{SharedStrings:Taxes}" controlUrl="Order/Taxes.ascx" permissions="order:admin:taxes:mng:view">
      <Columns>
        <Column ColumnType="CheckBox"/>
        <Column Visible="false" AllowSorting="false" DataField="TaxId" HeadingText=""></Column>
        <Column Width="40" DataField="TaxId" HeadingText="" ColumnType="Action">
          <Item ImageUrl="~/App_Themes/Default/Images/edit.gif" CommandName="cmdOrderGridTaxEdit" CommandParameters="TaxId" ToolTip="Edit" permissions="order:admin:taxes:mng:edit"></Item>
          <Item ImageUrl="~/App_Themes/Main/Images/toolbar/delete.gif" CommandName="cmdOrderGridTaxDelete" CommandParameters="TaxId" ToolTip="Delete" permissions="order:admin:taxes:mng:delete"></Item>
        </Column>
        <Column Width="250" AllowSorting="true" DataField="Name" HeadingText="{SharedStrings:Name}" id="Name" ColumnType="HyperLink" DataNavigateUrlFields="TaxId" DataNavigateUrlFormatString="javascript:CSOrderClient.EditTax('{0}', '');" DataTextFields="Name" DataTextFormatString="{0}" permissions="order:admin:taxes:mng:edit"></Column>
        <!--<Column Width="100" AllowSorting="true" DataField="Percentage" HeadingText="{SharedStrings:Rate}" FormatString="{0:#0.##0}"></Column>
        <Column Width="100" AllowSorting="true" DataField="TaxCategory" HeadingText="{SharedStrings:Category}"></Column>-->
        <Column Width="100" AllowSorting="true" DataField="TaxTypeName" HeadingText="{SharedStrings:Type}"></Column>
        <Column Width="60" AllowSorting="true" DataField="SortOrder" HeadingText="{SharedStrings:SortOrder}"></Column>
      </Columns>
    </View>

    <View id="Tax-Edit" name="{OrderStrings:Tax_Edit}" controlUrl="Order/TaxEdit.ascx">
      <Tabs>
        <Tab Name="{SharedStrings:Overview}" ControlUrl="Order/Tabs/TaxEditTab.ascx"></Tab>
        <Tab Name="Tax Values" ControlUrl="Order/Tabs/TaxValueEditTab.ascx"></Tab>
      </Tabs>
    </View>

    <!-- ComponentArt Grid -->
    <View id="TaxValues" name="Tax Values" controlUrl="">
      <Columns>
        <Column IsDefault="true" HeadingText="{SharedStrings:Edit_Command}" DataCellClientTemplateId="EditTemplate" EditControlType="EditCommand" Width="100" Align="Center"/>
        
        <Column IsDefault="true" Visible="false" AllowSorting="false" DataField="TaxValueId" HeadingText="Tax Value Id"></Column>
        <Column IsDefault="true" Visible="false" AllowEditing="false" AllowSorting="false" DataField="TaxId" HeadingText="TaxId"></Column>
        <Column IsDefault="true" Width="150" Visible="true" AllowEditing="false" IsSearchable="false" AllowSorting="false" DataField="TaxCategory" HeadingText="{SharedStrings:Tax_Category}"></Column>
        <Column IsDefault="true" Width="150" Visible="true" AllowEditing="false" IsSearchable="false" AllowSorting="false" DataField="JurisdictionGroup" HeadingText="{OrderStrings:Jurisdiction_Group}"></Column>
        <Column IsDefault="true" Visible="true" AllowEditing="false" IsSearchable="false" AllowSorting="false" DataField="Percentage" HeadingText="{SharedStrings:Rate}" FormatString="#0.000"></Column>
        <Column DataCellServerTemplateId="DateTimeTemplate" Width="200" Visible="true" AllowEditing="false" IsSearchable="false" AllowSorting="false" DataField="AffectiveDate" HeadingText="{SharedStrings:Effective_Date}">
          <Template id="DateTimeTemplate" DateArgument="AffectiveDate" ControlUrl="~/Apps/Core/Controls/GridTemplates/DateTimeTemplate.ascx"></Template>
        </Column>
      </Columns>
    </View>
    
    <View id="View-TaxValueEdit" name="TaxValueEdit" controlUrl="Order/Tabs/TaxValueEditPopup.ascx"/>

    <View id="Tax-Import" name="{SharedStrings:Import_Taxes}" controlUrl="Order/TaxImport.ascx" permissions="order:admin:taxes:mng:import">
      <Tabs>
        <Tab Name="{SharedStrings:Import}" ControlUrl="Order/Tabs/TaxImportTab.ascx"></Tab>
      </Tabs>
    </View>
    <!-- END: TaxImport -->

    <!-- BEGIN: Dictionaries -->
    <View id="Countries-List" name="{SharedStrings:Countries}" controlUrl="Order/Countries.ascx">
      <Columns>
        <Column ColumnType="CheckBox"/>
        <Column Visible="false" AllowSorting="false" DataField="CountryId" HeadingText=""></Column>
        <Column Width="40" DataField="CountryId" HeadingText="" ColumnType="Action">
          <Item ImageUrl="~/App_Themes/Default/Images/edit.gif" CommandName="cmdOrderGridCountryEdit" CommandParameters="CountryId" ToolTip="Edit"></Item>
          <Item ImageUrl="~/App_Themes/Main/Images/toolbar/delete.gif" CommandName="cmdOrderGridCountryDelete" CommandParameters="CountryId" ToolTip="Delete"></Item>
        </Column>
        <Column Width="400" AllowSorting="true" DataField="Name" HeadingText="{SharedStrings:Name}" id="Name" ColumnType="HyperLink" DataNavigateUrlFields="CountryId" DataNavigateUrlFormatString="javascript:CSOrderClient.EditCountry({0});" DataTextFields="Name" DataTextFormatString="{0}"></Column>
        <Column Width="50" AllowSorting="true" DataField="Code" HeadingText="{SharedStrings:Code}"></Column>
        <Column Width="60" AllowSorting="true" DataField="Ordering" HeadingText="{SharedStrings:Ordering}"></Column>
        <Column Width="60" AllowSorting="true" DataField="Visible" HeadingText="{SharedStrings:Visible}"></Column>
      </Columns>
    </View>

    <View id="Country-Edit" name="{OrderStrings:Country_Edit}" controlUrl="Order/CountryEdit.ascx">
      <Tabs>
        <Tab Name="{SharedStrings:Overview}" ControlUrl="Order/Tabs/CountryEditTab.ascx"></Tab>
        <Tab Name="{SharedStrings:Regions}" ControlUrl="Order/Tabs/CountryRegionsTab.ascx"></Tab>
      </Tabs>
    </View>

    <!-- ComponentArt Grid -->
    <View id="CountryRegions" name="{OrderStrings:CountryRegions}" controlUrl="">
      <Columns>
        <Column IsDefault="true" HeadingText="{SharedStrings:Edit_Command}" DataCellClientTemplateId="EditTemplate" EditControlType="EditCommand" Width="100" Align="Center"/>
        <!--<Column IsDefault="true" Width="1" Visible="true" IsSearchable="true" AllowSorting="true" AllowEditing="false" DataField="StateProvinceId" HeadingText="{SharedStrings:StateProvinceId}"></Column>
        <Column IsDefault="true" Width="1" Visible="true" IsSearchable="true" AllowSorting="true" AllowEditing="false" DataField="CountryId" HeadingText="{SharedStrings:CountryId}"></Column>-->
        <Column IsDefault="true" Visible="true" AllowEditing="false" IsSearchable="false" AllowSorting="false" DataField="Name" HeadingText="{SharedStrings:Name}"></Column>
        <Column IsDefault="true" Width="80" Visible="true" IsSearchable="false" AllowSorting="false" DataField="Ordering" HeadingText="{SharedStrings:Ordering}"></Column>
        <Column IsDefault="true" Width="80" Visible="true" IsSearchable="false" AllowSorting="false" DataField="Visible" HeadingText="{SharedStrings:Visible}" ColumnType="CheckBox"></Column>
      </Columns>
    </View>
    <!-- END: Dictionaries -->

    <!-- ComponentArt Grid -->
    <View id="FilesList-Import" name="{SharedStrings:Import}" controlUrl="Core/Controls/FileListControl.ascx">
      <Columns>
        <Column Visible="true" Width="1" AllowEditing="false" AllowSorting="false" DataField="FullName" HeadingText="{SharedStrings:Path}"></Column>
        <Column Visible="true" Width="400" IsSearchable="true" AllowEditing="false" AllowSorting="true" DataField="Name" HeadingText="{SharedStrings:File_Name}"></Column>
        <Column DataCellServerTemplateId="FileSizeTemplate" Width="70" IsSearchable="true" AllowSorting="true" DataField="Length" HeadingText="{SharedStrings:Size}">
          <Template id="FileSizeTemplate" FileSizeArgument="Length" ControlUrl="~/Apps/Core/Controls/GridTemplates/FileSizeTemplate.ascx"></Template>
        </Column>
        <Column DataCellServerTemplateId="DateTimeTemplate" IsSearchable="false" Width="150" AllowSorting="true" DataField="CreationTime" HeadingText="{SharedStrings:Created}">
          <Template id="DateTimeTemplate" DateArgument="CreationTime" ConvertFromServerTime="true" ControlUrl="~/Apps/Core/Controls/GridTemplates/DateTimeTemplate.ascx"></Template>
        </Column>
        <Column DataCellServerTemplateId="DateTimeTemplate2" IsSearchable="false" Width="150" AllowSorting="true" DataField="LastWriteTime" HeadingText="{SharedStrings:Last_Updated}">
          <Template id="DateTimeTemplate2" DateArgument="LastWriteTime" ConvertFromServerTime="true" ControlUrl="~/Apps/Core/Controls/GridTemplates/DateTimeTemplate.ascx"></Template>
        </Column>
      </Columns>
    </View>

  </Views>
  <Settings>
    <Setting name="{SharedStrings:Payments}" value="">
      <Setting name="{SharedStrings:Credit_Card}" value="asdasd"></Setting>
    </Setting>
  </Settings>
</Configuration>
