<?xml version="1.0"?>
<Configuration version="5.0">
	<Acl>
		<Group id="mng" text="{SharedStrings:Management}">
			<Permission id="login" text="{SharedStrings:Login}"></Permission>
			<Permission id="license" text="{SharedStrings:Licensing}"></Permission>
			<Permission id="search" text="{SharedStrings:Search_Index}"></Permission>
			<Permission id="settings" text="{SharedStrings:Settings}"></Permission>
		</Group>
		<Group id="admin" text="{SharedStrings:Administration}">
			<Group id="syslog" text="{SharedStrings:System_Log}">
				<Group id="mng" text="{SharedStrings:Manage}">
					<Permission id="view" text="{SharedStrings:View}"></Permission>
					<Permission id="delete" text="{SharedStrings:Delete}"></Permission>
				</Group>
			</Group>
			<Group id="applog" text="{SharedStrings:Application_Log}">
				<Group id="mng" text="{SharedStrings:Manage}">
					<Permission id="view" text="{SharedStrings:View}"></Permission>
					<Permission id="delete" text="{SharedStrings:Delete}"></Permission>
				</Group>
			</Group>
		</Group>
	</Acl>
	<Views>
		<View id="CommonSettings" name="{SharedStrings:Common_Settings}" controlUrl="Core/CommonSettings.ascx" permissions="core:mng:settings">
			<Tabs>
				<Tab Name="{SharedStrings:Overview}" ControlUrl="Core/Tabs/CommonSettingsTab.ascx"></Tab>
			</Tabs>
		</View>
		<View id="Configuration" name="{SharedStrings:Configuration}" controlUrl="MetaDataBase/FrameControl.ascx"></View>
		<View id="Replication" name="{SharedStrings:Replication_Wizard}" controlUrl="Core/Replication/ConfigControl.ascx"></View>
		<View id="Licensing" name="{SharedStrings:Licensing}" controlUrl="Core/License/LicensingControl.ascx" permissions="core:mng:licensing"/>
		<View id="DbInfo" name="{SharedStrings:View_Database_Information}" controlUrl="Core/Common/InformationControl.ascx"/>
		<View id="Search" name="{SharedStrings:Search_Manager}" controlUrl="Core/Search/SearchManager.ascx" permissions="core:mng:search">
			<Tabs>
				<Tab Name="{SharedStrings:Index}" ControlUrl="Core/Search/Tabs/IndexTab.ascx"></Tab>
			</Tabs>
		</View>
		<View id="LanguageSettings" name="{SharedStrings:Change_Language}" controlUrl="Core/Common/LanguageSelectControl.ascx"></View>

		<View id="LayoutAddControl" name="{SharedStrings:Layout_Management}" controlUrl="Core/Layout/Modules/AddFramePopup.ascx"></View>
		<View id="Layout-Edit" name="{SharedStrings:Layout_Management}" controlUrl="">
			<Tabs>
				<Tab Name="{SharedStrings:Controls_Set}" ControlUrl="Core/Layout/Modules/Tabs/ControlSetTab.ascx"></Tab>
				<Tab Name="{SharedStrings:Page_Template}" ControlUrl="Core/Layout/Modules/Tabs/PageTemplateTab.ascx"></Tab>
			</Tabs>
		</View>
		<!--<View id="LayoutPropertyPage" name="{SharedStrings:Properties}" controlUrl="Core/Common/LanguageSelectControl.ascx"></View>-->

		<View id="SystemLog" name="{SharedStrings:System_Log}" controlUrl="Core/StoreLogs/SystemLog.ascx" permissions="core:admin:syslog:mng:view">
			<!-- Columns map columns to grid column which will be automatically created -->
			<Columns>
				<Column ColumnType="CheckBox"  />
				<Column Visible="false" Width="30" DataField="LogId" HeadingText="{SharedStrings:Log_Id}"></Column>
				<Column Width="60" HeadingText="{SharedStrings:Operation}" DataField="Operation"></Column>
				<Column Width="120" HeadingText="{SharedStrings:Object_Key}" DataField="ObjectKey"></Column>
				<Column Width="320" HeadingText="{SharedStrings:Object_Type}" DataField="ObjectType"></Column>
				<Column Width="100" HeadingText="{SharedStrings:User_Name}" DataField="UserName"></Column>
				<Column Width="100" HeadingText="{SharedStrings:Created}" DataField="Created" ColumnType="DateTime"></Column>
				<Column Width="400" HeadingText="{SharedStrings:Notes}" DataField="Notes"></Column>
				<Column Width="100" HeadingText="{SharedStrings:IP_Address}" DataField="IPAddress"></Column>
				<Column Width="60" HeadingText="{SharedStrings:Succeeded}" DataField="Succeeded"></Column>
			</Columns>
		</View>

		<View id="ApplicationLog" name="{SharedStrings:Application_Log}" controlUrl="Core/StoreLogs/ApplicationLog.ascx" permissions="core:admin:applog:mng:view">
			<!-- Columns map columns to grid column which will be automatically created -->
			<Columns>
				<Column ColumnType="CheckBox"  />
				<Column Visible="false" Width="30" DataField="LogId" HeadingText="Log Id"></Column>
				<Column Width="100" HeadingText="{SharedStrings:Source}" DataField="Source"></Column>
				<Column Width="60" HeadingText="{SharedStrings:Operation}" DataField="Operation"></Column>
				<Column Width="120" HeadingText="{SharedStrings:Object_Key}" DataField="ObjectKey"></Column>
				<Column Width="320" HeadingText="{SharedStrings:Object_Type}" DataField="ObjectType"></Column>
				<Column Width="100" HeadingText="{SharedStrings:User_Name}" DataField="UserName"></Column>
				<Column Width="100" HeadingText="{SharedStrings:Created}" DataField="Created" ColumnType="DateTime"></Column>
				<Column Width="400" HeadingText="{SharedStrings:Notes}" DataField="Notes"></Column>
				<Column Width="100" HeadingText="{SharedStrings:IP_Address}" DataField="IPAddress"></Column>
				<Column Width="60" HeadingText="{SharedStrings:Succeeded}" DataField="Succeeded"></Column>
			</Columns>
		</View>

    <View id="ExportLogDialog" name="{SharedStrings:ExportLog}" controlUrl="Core/StoreLogs/LogExportDialog.ascx"></View>
	</Views>
</Configuration>