.On
{
    position: absolute;
    overflow:hidden;
    z-index:255;
    background-image: url("../images/default_bg.gif");
    background-repeat:repeat;
/*
	border: red 1px dotted;
	*/
}

.Off
{
	position: absolute;
	overflow: hidden;
	z-index: 255;
	/*
    background-image: url("../images/default_bg.gif");
    background-repeat:repeat;
	*/
}

.EditControl1
{
	position: absolute;
	overflow: hidden;
	z-index: 255;
	border: gainsboro 1px dotted;
}

.MenuOn
{
    position: absolute;
    top:0px;
    left:0px;
    z-index: 255;
}

.MenuOff
{
    display: none;
    position: absolute;
    top:0px;
    left:0px;
}

