.blockheader-light {
	font-family: verdana; 
	border-left:1px solid #aca889;
	border-right:1px solid #aca889;
	border-bottom:1px solid #aca889;
	text-align:left;
}

.menu-horizontal-cell
{
	padding: 10px;
	background-color: Gray;
	border: soled 1px Black;
}


.LinkImageButton a span
{
	display: none;
}

.LinkImageButton a:hover span
{
	display: block;
}


.image-edit1 { background-image: url(images/edit.gif);background-repeat: no-repeat; padding-left: 20px;}

.CmsControlPlace
{
	min-height: 50px;
	/*border: solid 1px black;*/
}

.cms-error-status
{
	position: absolute;
	top: 30px;
	left: 30%;
	background-color: navajowhite;
	border: black 1px solid;
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold; 
}

.cms-disabled
{
	filter: gray;
	cursor: pointer;
}

.cms-toolbar
{
	background-color: White;
}