.NavBar
{ 
  background-color: #C3C7D3; 
  border: 1px solid #C3C7D3; 
  padding: 7px;
  cursor: default; 
} 

.TopItem
{
  background-image: url(images/top_level_bg.gif);
  font-family: tahoma, verdana; 
  font-size: 11px; 
  font-weight: bold;
  padding-top: 4px; 
  padding-bottom: 4px; 
  width:178px;
  cursor:hand;
}

.TopItemHover
{
  color:Gray;
  background-image: url(images/top_level_bg.gif);
  font-family: tahoma, verdana; 
  font-size: 11px; 
  font-weight: bold;
  padding-top: 4px; 
  padding-bottom: 4px; 
  width:178px;
  cursor:hand;
}

.Level2Item
{
  font-family: tahoma, verdana; 
  font-size: 11px; 
  text-align: center;
  cursor:hand;
}

.Level2ItemHover
{
  font-family: tahoma, verdana; 
  font-size: 11px; 
  text-align: center;
  text-decoration:underline;
  cursor:hand;
}

.Level2Group
{
  background-color:#F0F1F5;
  border: 1px white solid;
  border-top-color: #F0F1F5;
  padding:5px;
  width:178px;
}

.Empty
{
}


