.promotion td {
padding:4px 0 0;
text-align:right;
}
.promotion td.title {
color:red;
text-transform:capitalize;
}
.promotion td.value {
color:red;
}


#account-personal-info .title {
}


.sub-total td {
border-bottom:1px solid #DDDDDD;
font-size:114%;
font-weight:bold;
padding:4px 0 10px;
text-align:right;
white-space:nowrap;
}
.sub-total td.title {
font-weight:bold;
text-transform:capitalize;
}
.sub-total td.value {
font-weight:bold;
}


#account-personal-info .value {
color:#999999;
margin:0 0 15px;
}


.shipping td {
padding:4px 0 0;
text-align:right;
}
.shipping td.title {
text-transform:capitalize;
}
.shipping td.value {
}


.total td {
padding:10px 0 0;
text-align:right;
}
.total td.title {
font-weight:bold;
text-transform:uppercase;
}
.total td.value {
color:#3667A2;
font-size:152%;
font-weight:bold;
}

#checkout-cart-summary .total {
color:#3667A2;
font-size:152%;
font-weight:bold;
}

/* Where does this one go? */
#checkout-review-totals .total {
color:#3667A2;
font-size:152%;
font-weight:bold;
text-align:right;
}


/* https://demo.elasticpath.com/template-resources/images/bg-fieldset.gif */
/* background:transparent url(../images/test-bg-fieldset.gif) repeat-y scroll left center; */
.fieldset-footer {
background:transparent url(../images/test-bg-fieldset.gif) repeat-y scroll left center;
border-color:-moz-use-text-color #DDDDDD #DDDDDD;
border-style:none solid solid;
border-width:0 1px 1px;
padding:15px 0 15px 15px;
position:relative;
top:-1px;
}

/* https://demo.elasticpath.com/template-resources/images/bg-add-to-cart.gif */
/* background:#0167CD url(../images/test-bg-add-to-cart.gif) repeat-x scroll 0 0; */
.checkout-button {
background:#0167CD url(../images/test-bg-add-to-cart.gif) repeat-x scroll 0 0;
border:1px solid #555454;
color:#FFFFFF;
cursor:pointer;
font-size:122%;
font-weight:bold;
overflow:visible;
padding:0.25em 0.5em;
vertical-align:middle;
}


.clear10 {
clear:both;
height:10px;
overflow:hidden;
}