<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
      <sectionGroup name="mediachase.license">
          <section name="licenseProvider" type="Mediachase.Licensing.LicenseStorageSection, Mediachase.Licensing"/>
      </sectionGroup>
      <sectionGroup name="CommerceFramework">
          <section name="Application" type="Mediachase.Commerce.Core.CoreConfiguration,Mediachase.Commerce"/>
          <section name="Catalog" type="Mediachase.Commerce.Catalog.CatalogConfiguration,Mediachase.Commerce"/>
          <section name="ContentManagement" type="Mediachase.Cms.CmsConfiguration,Mediachase.Cms"/>
          <section name="Orders" type="Mediachase.Commerce.Orders.OrderConfiguration,Mediachase.Commerce"/>
          <section name="Profile" type="Mediachase.Commerce.Profile.ProfileConfiguration,Mediachase.Commerce"/>
          <section name="Marketing" type="Mediachase.Commerce.Marketing.MarketingConfiguration,Mediachase.Commerce"/>
      </sectionGroup>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="Mediachase.EcfConfiguration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
      <sectionGroup name="FrameworkProviders">
          <section name="dataService" type="Mediachase.Data.Provider.DataProviderSection, Mediachase.DataProvider"/>
      </sectionGroup>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
    <connectionStrings>
        <add name="EcfSqlConnection" connectionString="Data Source=MCC-VIRTUAL;Initial Catalog=ECF50_DEV_QA_MAIN;Integrated Security=False;User ID=sa;Password=mcsqladmin" />
    </connectionStrings>
  <userSettings>
    <Mediachase.EcfConfiguration.Properties.Settings>
      <setting name="CommandTimeOut" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="BatchMain_wo_Auth" serializeAs="String">
        <value>setup-database.bat</value>
      </setting>
      <setting name="BatchMain_w_Auth" serializeAs="String">
        <value>setup-database-winauth.bat</value>
      </setting>
      <setting name="BatchBF_wo_Auth" serializeAs="String">
        <value>setup-businessfoundation-database.bat</value>
      </setting>
      <setting name="BatchBF_w_Auth" serializeAs="String">
        <value>setup-businessfoundation-database-winauth.bat</value>
      </setting>
      <setting name="BatchMem_wo_Auth" serializeAs="String">
        <value>setup-users.bat</value>
      </setting>
      <setting name="BatchMem_w_Auth" serializeAs="String">
        <value>setup-users-database-winauth.bat</value>
      </setting>
      <setting name="BatchMain_Update_w_Auth" serializeAs="String">
        <value>update-Main-winauth.bat</value>
      </setting>
      <setting name="BatchMain_Update_wo_Auth" serializeAs="String">
        <value>update-Main.bat</value>
      </setting>
      <setting name="BatchBF_Update_w_Auth" serializeAs="String">
        <value>update-businessfoundation-winauth.bat</value>
      </setting>
      <setting name="BatchBF_Update_wo_Auth" serializeAs="String">
        <value>update-businessfoundation.bat</value>
      </setting>
      <setting name="Batch_Add_Application_To_Instance_wo_Auth" serializeAs="String">
        <value>setup-new-application-in-existing-intstance.bat</value>
      </setting>
      <setting name="Batch_Add_Application_To_Instance_w_Auth" serializeAs="String">
        <value>setup-new-application-in-existing-intstance-winauth.bat</value>
      </setting>
    </Mediachase.EcfConfiguration.Properties.Settings>
  </userSettings>

  <log4net debug="true">
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender,log4net" >
      <param name="File" value="error-log.txt" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="conversionPattern" value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
      <priority value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </root>
    <category name="Mediachase.EcfConfiguration">
      <priority value="ALL" />
    </category>
  </log4net>
    <FrameworkProviders>
        <dataService defaultProvider="SqlDataProvider">
            <providers>
                <add name="SqlDataProvider" type="Mediachase.Data.Provider.SqlDataProvider, Mediachase.SqlDataProvider" connectionStringName="EcfSqlConnection" applicationName="eCommerceFramework"/>
            </providers>
        </dataService>
    </FrameworkProviders>
    <mediachase.license>
        <licenseProvider defaultProvider="sqlProvider" allowUpload="True" licenseServerUri="http://licensing.mediachase.com/2.0/License.aspx">
            <providers>
                <add name="fileProvider" type="Mediachase.Licensing.FileStorageProvider, Mediachase.Licensing" storagePath="c:\Projects\ECF5\main\src\AdminLayer\ConsoleManager\bin"/>
                <add name="sqlProvider" type="Mediachase.Licensing.SqlStorageProvider, Mediachase.Licensing" connectionStringName="EcfSqlConnection" tableName="" createTable="True"/>
            </providers>
        </licenseProvider>
    </mediachase.license>
    <CommerceFramework>
        <!-- Cms Configuration -->
        <ContentManagement>
            <Connection connectionStringName="EcfSqlConnection"/>
            <Cache enabled="true" pageDocumentTimeout="0:0:10" menuTimeout="0:1:0" workflowTimeout="0:1:0" templateTimeout="0:1:0" sitesCollectionTimeout="0:0:20"/>
            <Roles>
                <add name="AdminRole" value="Cms Admins" />
                <add name="ManagerRole" value="Cms Managers" />
                <add name="EditorRole" value="Cms Editors" />
                <add name="ViewerRole" value="Cms Viewers" />
            </Roles>
        </ContentManagement>
        <Application defaultApplicationName="eCommerceFramework">
            <Roles>
                <add name="AdminRole" value="Admins" />
                <add name="ManagerUserRole" value="Management Users" />
                <add name="EveryoneRole" value="Everyone" />
                <add name="RegisteredRole" value="Registered" />
            </Roles>
            <Connection connectionStringName="EcfSqlConnection"/>
            <Cache enabled="true" appTimeout="0:0:10"/>
        </Application>
        <!-- Catalog Configuration -->
        <Catalog autoConfigure="true">
            <Connection connectionStringName="EcfSqlConnection"/>
            <Cache enabled="true" collectionTimeout="0:0:10" entryTimeout="0:0:10" nodeTimeout="0:0:10" schemaTimeout="0:0:20"/>
            <Encoding imageQualityPercentage="80" defaultFormat="jPeg"/>
            <Roles>
                <add name="CatalogAdminRole" value="Catalog Admins" />
                <add name="CatalogManagerRole" value="Catalog Managers" />
                <add name="CatalogSchemaManagerRole" value="Catalog Schema Managers" />
                <add name="CatalogViewerRole" value="Catalog Viewers" />
            </Roles>
        </Catalog>
        <!-- Orders Configuration -->
        <Orders newOrderStatus="NewOrder" autoConfigure="true">
            <MappedTypes>
                <ShoppingCartType name="Mediachase.Commerce.Orders.Cart,Mediachase.Commerce"/>
                <PurchaseOrderType name="Mediachase.Commerce.Orders.PurchaseOrder,Mediachase.Commerce"/>
                <OrderFormType name="Mediachase.Commerce.Orders.OrderForm,Mediachase.Commerce"/>
                <PaymentPlanType name="Mediachase.Commerce.Orders.PaymentPlan,Mediachase.Commerce"/>
                <LineItemType name="Mediachase.Commerce.Orders.LineItem,Mediachase.Commerce"/>
                <OrderGroupAddressType name="Mediachase.Commerce.Orders.OrderAddress,Mediachase.Commerce"/>
                <ShipmentType name="Mediachase.Commerce.Orders.Shipment,Mediachase.Commerce"/>
            </MappedTypes>
            <MetaClasses>
                <PurchaseOrderClass name="PurchaseOrder"/>
                <PaymentPlanClass name="PaymentPlan"/>
                <ShoppingCartClass name="ShoppingCart"/>
                <OrderFormClass name="OrderFormEx"/>
                <LineItemClass name="LineItemEx"/>
                <ShipmentClass name="ShipmentEx"/>
                <OrderAddressClass name="OrderGroupAddressEx"/>
            </MetaClasses>
            <Connections confConnectionStringName="EcfSqlConnection" transConnectionStringName="EcfSqlConnection"/>
            <Cache enabled="true" shippingCollectionTimeout="0:0:10" paymentCollectionTimeout="0:0:10" statusCollectionTimeout="0:0:10" countryCollectionTimeout="0:0:10"/>
            <Roles>
                <add name="AdminRole" value="Order Admins" />
                <add name="ManagerRole" value="Order Managers" />
                <add name="SchemaManagerRole" value="Order Schema Managers" />
                <add name="ViewerRole" value="Order Viewers" />
            </Roles>
        </Orders>
		<Profile autoConfigure="true" enablePermissions="true">
			<MetaClasses>
				<CustomerAddressClass name="CustomerAddressEx"/>
				<OrganizationClass name="Organization"/>
				<AccountClass name="Account"/>
			</MetaClasses>
			<MappedTypes>
				<CustomerAddress name="Mediachase.Commerce.Profile.CustomerAddress,Mediachase.Commerce"/>
				<Organization name="Mediachase.Commerce.Profile.Organization,Mediachase.Commerce"/>
				<Account name="Mediachase.Commerce.Profile.Account,Mediachase.Commerce"/>
			</MappedTypes>
			<Connection connectionStringName="EcfSqlConnection"/>
			<Cache enabled="false" userCollectionTimeout="0:1:0" organizationCollectionTimeout="0:1:0" userTimeout="0:1:0" organizationTimeout="0:1:0"/>
			<Roles>
				<add name="AdminRole" value="Profile Admins" />
				<add name="ManagerRole" value="Profile Managers" />
				<add name="SchemaManagerRole" value="Profile Schema Managers" />
				<add name="ViewerRole" value="Profile Viewers" />
			</Roles>
		</Profile>
        <Marketing>
            <Connection connectionStringName="EcfSqlConnection"/>
            <Cache enabled="true" promotionTimeout="0:0:10" campaignTimeout="0:0:10" policyTimeout="0:0:15" segmentTimeout="0:0:10" expressionTimeout="0:0:10"/>
            <MappedTypes>
                <ExpressionValidatorType name="Mediachase.Commerce.Marketing.Validators.RulesExprValidator,Mediachase.Commerce.Marketing.Validators"/>
            </MappedTypes>
            <Roles>
                <add name="AdminRole" value="Marketing Admins" />
                <add name="ManagerRole" value="Marketing Managers" />
                <add name="SchemaManagerRole" value="Marketing Schema Managers" />
                <add name="ViewerRole" value="Marketing Viewers" />
            </Roles>
        </Marketing>
    </CommerceFramework>
</configuration>